<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
  <div class="container aside-xl"><a class="navbar-brand block" href="index.html"><span
        class="h1 font-bold">Musik</span></a>
    <section class="m-b-lg">
      <header class="wrapper text-center"><strong>Sign in to get in touch</strong></header>
      <form #signInForm="ngForm" [formGroup]="signInFormGroup" (ngSubmit)="onSubmit(signInForm.value)" action="index.html">
        <div class="form-group">
          <input formControlName="username" type="text" name="username" placeholder="Username"
            class="form-control rounded input-lg text-center no-border">
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="help-block mt-1">
            <div *ngIf="username.errors.required">
              Username is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input formControlName="password" type="password" name="password" placeholder="Password"
            class="form-control rounded input-lg text-center no-border">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="help-block mt-1">
            <div *ngIf="password.errors.required">
              Password is required
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-info lt b-white b-2x btn-block btn-rounded">
          <i *ngIf="showLoading" class="fa fa-spinner"></i>
          <span *ngIf="showLoading"> Loading...</span>
          <span class="m-r-n-lg" *ngIf="!showLoading">Sign in</span>
        </button>
        <div class="text-center m-t m-b">
          <a href="#"><small>Forgot password?</small></a>
        </div>
        <div class="line line-dashed"></div>
        <p class="text-muted text-center">
          <small>Do not have an account?</small><a routerLink="/signup"> Create an account</a>
        </p>

      </form>
    </section>
  </div>
</section>
