<header class="header header-md navbar navbar-fixed-top-xs">
  <div style="padding: 10px 5px 0px 5px" class="navbar-header aside bg-info">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
      <i class="icon-list"> </i>
    </a>
    <a routerLink="/home" class="navbar-brand text-lt">
      <i class="icon-earphones"> </i>
      <img src="http://flatfull.com/themes/musik/images/logo.png" alt="." class="hide" />
      <span class="hidden-nav-xs m-l-sm"> MusicHUB </span>
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="icon-settings"> </i>
    </a>
  </div>
  <!-- <form class="search navbar-form navbar-left">
    <div class="input-group search__container ">
      <span class="input-group-btn">
        <button type="submit" style="background-color: hsla(0,0%,100%,0.1); margin-top: 2px"
          class="btn btn-md btn-icon rounded">
          <i style="color: white" class="fa fa-search"> </i>
        </button>
      </span>
      <input type="text" class="form-control input-sm no-border rounded" placeholder="Search songs, albums..." />
    </div>
  </form> -->
  <app-search></app-search>
  <div class="navbar-right">
    <ul class="nav navbar-nav m-n hidden-xs nav-user user">
      <li *ngIf="!authenticationService.isLoggedIn()" style="margin-right: -30px" class="hidden-xs">
        <a routerLink="/signin">Đăng nhập</a>
      </li>
      <li *ngIf="!authenticationService.isLoggedIn()" class="hidden-xs">
        <a routerLink="/signup">Đăng kí</a>
      </li>
      <li *ngIf="authenticationService.isLoggedIn()" class="dropdown">
        <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
          <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <img src="{{ authenticationService.getLoggedInAvatar() }}" alt="..." />
          </span>
          {{ authenticationService.getLoggedInUsername() }}
          <b class="caret"> </b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
          <li>
            <a routerLink="/profile-user"> 
              <i class="icon ic-profile"></i>
              <span style="margin-left: 10px">Thông tin cá nhân</span>
            </a>
          </li>
          <li>
            <a routerLink="/change-password"> 
              <i class="fa fa-key"></i>
              <span style="margin-left: 10px">Đổi mật khẩu</span>
            </a>
          </li>
          <li>
            <a routerLink="/upload-song">
              <i class="icon ic-upload"></i>
              <span style="margin-left: 10px">Tải nhạc lên</span>
            </a>
          </li>
          <li>
            <a routerLink="/my-song">
              <i class="icon ic-song"></i>
              <span style="margin-left: 10px">Thư viện cá nhân</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <i class="icon ic-settings"></i>
              <span style="margin-left: 10px">Settings</span>
            </a>
          </li> -->
          <li class="divider"></li>
          <li>
            <a style="cursor: pointer;" (click)="logout()" data-toggle="ajaxModal"> 
              <i class="icon ic-logout"></i>
              <span style="margin-left: 10px">Đăng xuất</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</header>
