<div class="scrollable">
  <div class="clearfix">
    <div class="media playlist-header sticky">
      <div class="media-left">
        <div class="zm-card header-thumbnail">
          <div class="zm-card-image">
            <div class="z-thumb">
              <figure class="image is-48x48">
                <img
                  style="width: 300px; height: 300px;"
                  src="{{ albumInfo?.imgUrl }}"
                  alt="" class="">
              </figure>
              <div class="opacity">
              </div>
            </div>
            <div class="zm-actions-container">
              <div class="zm-box zm-actions playlist-actions">
                <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
                <button class="zm-btn action-play button" tabindex="0">
                  <i class="icon action-play ic-svg-play-circle">
                  </i>
                </button>
                <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                  <i class="icon ic-more">
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media-content">
        <div class="content-top">
          <div class="user-playlist-title">
            <h3 class="title">
              {{ albumInfo?.name }}
            </h3>
          </div>
          <div class="subtitle">
            <span *ngFor="let singer of albumInfo?.singers; let index = index" class="followers">
              {{ singer.nickName }}{{ index === albumInfo?.singers.length - 1 ? '' : ',' }}
            </span>
            •
            <span>{{ albumInfo?.musicYear }}</span>
          </div>
        </div>
        <div class="level actions">
          <button class="zm-btn btn-play-all is-outlined active is-medium is-upper button" tabindex="0">
            <i class="icon ic-play">
            </i>
            <span>
              Bắt đầu phát
            </span>
          </button>
          <div class="level">
            <div class="level-item is-narrow">
              <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                <i class="icon ic-like">
                </i>
                <!-- <i class="icon ic-like-full">
                    </i> -->
              </button>
            </div>
            <div class="level-item is-narrow">
              <button (click)="openChooseOptionAlbum()" class="zm-btn zm-tooltip-btn is-hover-circle button"
                tabindex="0">
                <i class="icon ic-more">
                </i>
              </button>
            </div>
          </div>
          <div *ngIf="chooseOptionAlbum" class="zm-contextmenu playlist-menu">
            <div class="menu">
              <ul class="menu-list">
                <li><button (click)="addAlbumToCurrentPlaylist()" class="zm-btn button" tabindex="0"><i class="icon ic-add-play-now"></i><span>Thêm vào danh
                      sách phát</span></button></li>
                <li><button class="zm-btn button" tabindex="0"><i class="icon ic-comment"></i><span>Bình
                      luận</span></button></li>
                <li> <button class="zm-btn button" tabindex="0"><i class="icon ic-download"></i><span>Tải
                      xuống</span></button></li>
                <li><button class="zm-btn button" tabindex="0"><i class="icon ic-link"></i><span>Sao chép
                      link</span></button></li>
                <li>
                  <div class="menu-list--submenu"><button class="zm-btn button" tabindex="0"><i
                        class="icon ic-share"></i><span>Chia sẻ</span><i class="icon ic-go-right"></i></button></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="playlist-content">
      <div class="container user-songs-container">
        <div class="user-song-section">
          <div class="list user-song-section song-list-select">
            <div class="media select-header">
              <div class="media-left">
                <div *ngIf="!trackSelected.length" class="sort-wrapper">
                  <div class="zm-dropdown zm-group-dropdown mar-r-10">
                    <div class="zm-dropdown-trigger-btn">
                      <button class="zm-btn button" tabindex="0">
                        <i class="icon ic-24-Sort">
                        </i>
                      </button>
                    </div>
                    <div class="zm-dropdown-content">
                      <div class="zm-dropdown-list-item">
                        Mặc định
                      </div>
                      <div class="zm-dropdown-list-item">
                        Tên bài hát (A-Z)
                      </div>
                      <div class="zm-dropdown-list-item">
                        Tên ca sĩ (A-Z)
                      </div>
                      <div class="zm-dropdown-list-item">
                        Tên Album (A-Z)
                      </div>
                    </div>
                  </div>
                  <div class="column-text">
                    Bài hát
                  </div>
                </div>
                <div *ngIf="trackSelected.length" class="actions">
                  <label class="checkbox">
                    <input [hidden]="trackSelected.length === albumInfo?.tracks.length" name="check-all" (click)="selectAllTrack()"
                      type="checkbox">
                    <input [hidden]="trackSelected.length !== albumInfo?.tracks.length" name="check-all" (click)="selectAllTrack()"
                      type="checkbox" checked>
                  </label>
                  <button (click)="addToCurrentPlaylist()" class="zm-btn action-btn add-queue-btn button" tabindex="0">
                    <i class="icon ic-add-play-now"></i><span>Thêm vào danh sách phát</span>
                  </button>
                  <div id="select-menu-id" class="more-btn-wrapper">
                    <button (click)="openChooseOption()" class="zm-btn action-btn more-btn button" tabindex="0">
                      <i class="icon ic-more"></i>
                    </button>
                    <div *ngIf="chooseOption" class="zm-contextmenu select-menu">
                      <div>
                        <div class="menu">
                          <ul class="menu-list">
                            <li>
                              <div class="menu-list--submenu">
                                <button class="zm-btn button" tabindex="0">
                                  <i class="icon ic-16-Add"></i><span>Thêm vào playlist</span>
                                  <i class="icon ic-go-right"></i>
                                </button>
                                <div class="menu add-playlist-content submenu-content">
                                  <ul class="menu-list">
                                    <li class="search-box">
                                      <input class="input" placeholder="Tìm playlist">
                                    </li>
                                    <li class="mar-t-10">
                                      <button mat-button (click)="openAddNewPlaylist()" class="zm-btn button"
                                        tabindex="0">
                                        <i class="icon ic- z-ic-svg ic-svg-add"></i><span>Tạo playlist mới</span>
                                      </button>
                                    </li>
                                  </ul>
                                  <div class="playlist-container">
                                    <div class="top-shadow"></div>
                                    <div class="content">
                                      <div style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                        <div
                                          style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                          <ul class="menu-list">
                                            <li>
                                              <button class="zm-btn button" tabindex="0"><i
                                                  class="icon ic-list-music"></i><span>aaa</span>
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <div class="track-horizontal"
                                          style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                                          <div
                                            style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                                          </div>
                                        </div>
                                        <div class="track-vertical"
                                          style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                                          <div class="thumb-vertical"
                                            style="position: relative; display: block; width: 100%; height: 0px;"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-right">
                <div class="column-text">
                  Thời gian
                </div>
              </div>
            </div>
            <div style="max-height: 250px; overflow: hidden;" class="track-list">
              <div *ngFor="let track of albumInfo?.tracks; let index = index" style="flex-grow: 1;" class="">
                <div name="select-song" class="select-item" id="track{{ index }}" #item>
                  <div class="checkbox-wrapper">
                    <label class="checkbox">
                      <input name="checkbox-song" (click)="selectedTrack(track, item)" type="checkbox">
                    </label>
                  </div>
                  <div class="list-item bor-b-1 media-item hide-right active">
                    <div class="media">
                      <div class="media-left" style="width: 50%">
                        <div class="song-prefix mar-r-15">
                          <span class="number">
                            {{ index + 1 }}
                          </span>
                        </div>
                        <div class="song-thumb">
                          <figure class="image is-40x40" title="{{ track.name }}">
                            <img src="{{ albumInfo.imgUrl }}" alt="" class="">
                          </figure>
                          <div class="opacity"></div>
                          <div class="zm-actions-container">
                            <div class="zm-box zm-actions">
                                <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
                                <button (click)="playCurrentTrack(track.id)" class="zm-btn action-play button" tabindex="0">
                                  <i class="icon action-play ic-play"></i>
                                </button>
                                <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                                  <i class="icon ic-more"></i>
                                </button>
                            </div>
                        </div>
                        
                        </div>
                        <div class="card-info">
                          <div class="title-wrapper">
                            <span class="item-title title">
                              <span>
                                <span>
                                  <span>{{ track.name }}</span>
                                </span>
                                <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                  …
                                </span>
                              </span>
                            </span>
                          </div>
                          <div class="subtitle">
                            <span *ngFor="let singer of track.singers; let index = index" class="followers">
                              {{ singer.nickName }}{{ index === track.singers.length - 1 ? '' : ',' }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="media-right">
                        <div class="hover-items">
                          <div class="level">
                            <div class="level-item">
                              <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                                <i class="icon ic-karaoke">
                                </i>
                              </button>
                            </div>
                            <div class="level-item">
                              <button
                                class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                tabindex="0">
                                <i class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                              </button>
                            </div>
                            <!-- <div class="level-item">
                              <button (click)="openChooseOptionTrack(index)"
                                class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                                <i class="icon ic-more">
                                </i>
                              </button>
                            </div> -->
                          </div>
                        </div>
                        <div class="action-items">
                          <div class="level">
                            <div class="level-item">
                              <button
                                class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                tabindex="0">
                                <i class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                              </button>
                            </div>
                            <div class="level-item duration">
                              {{ appUtilService.getTimeDuration(track.durationSeconds) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- <div *ngIf="chooseOptionTrack[index]" class="zm-contextmenu song-menu">
                  <div class="menu">
                    <ul class="menu-list">
                      <div class="menu-list--submenu">
                        <div class="media song-info-menu" style="background: transparent !important;">
                          <div class="media-left">
                            <figure class="image is-40x40">
                              <img src="{{ albumInfo.imgUrl }}" alt="">
                            </figure>
                          </div>
                          <div class="is-w-150 media-content">
                            <a>
                              <div class="title-wrapper">
                                <span class="item-title title">
                                  <span>
                                    <span>
                                      <span>{{ track.name }}</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                      …
                                    </span>
                                  </span>
                                </span>
                              </div>
                            </a>
                            <div class="song-stats">
                              <div class="stat-item">
                                <i class="icon ic-like"></i><span>{{ track.liked }}</span>
                              </div>
                              <div class="stat-item">
                                <i class="icon ic-view"></i><span>{{ track.listened }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ul>
                    <ul class="menu-list">
                      <div class="group-button-menu">
                        <div class="group-button-list">
                          <button class="zm-btn button">
                            <i class="icon ic-download"></i><span>Tải xuống</span>
                          </button>
                          <button class="zm-btn button" tabindex="0">
                            <i class="icon ic-16-Lyric"></i><span>Lời bài hát</span>
                          </button>
                          <span class="zm-btn button">
                            <i class="icon ic-denial"></i><span>Chặn</span>
                          </span>
                        </div>
                      </div>
                    </ul>
                    <ul class="menu-list">
                      <li><button (click)="addToCurrentPlaylist(track.id)" class="zm-btn button" tabindex="0"><i
                            class="icon ic-add-play-now"></i><span>Thêm vào danh sách phát</span></button>
                      </li>
                      <li>
                        <div class="menu-list--submenu">
                          <button class="zm-btn button" tabindex="0">
                            <i class="icon ic-16-Add"></i><span>Thêm vào playlist</span>
                            <i class="icon ic-go-right"></i>
                          </button>
                          <div style="left: -230px; top: -100px;"
                            class="menu add-playlist-content submenu-content">
                            <ul class="menu-list">
                              <li class="search-box">
                                <input class="input" placeholder="Tìm playlist">
                              </li>
                              <li class="mar-t-10">
                                <button mat-button (click)="openAddNewPlaylist()" class="zm-btn button"
                                  tabindex="0">
                                  <i class="icon ic- z-ic-svg ic-svg-add"></i><span>Tạo playlist
                                    mới</span>
                                </button>
                              </li>
                            </ul>
                            <div class="playlist-container">
                              <div class="top-shadow"></div>
                              <div class="content">
                                <div
                                  style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                  <div
                                    style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                    <ul class="menu-list">
                                      <li>
                                        <button class="zm-btn button" tabindex="0"><i
                                            class="icon ic-list-music"></i><span>aaa</span>
                                        </button>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="track-horizontal"
                                    style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                                    <div
                                      style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                                    </div>
                                  </div>
                                  <div class="track-vertical"
                                    style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                                    <div class="thumb-vertical"
                                      style="position: relative; display: block; width: 100%; height: 0px;">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <h3 class="bottom-info subtitle">
          <span>
            {{ albumInfo?.tracks.length }} bài hát
          </span>
          •
          <span>
            {{ albumInfo?.tracks !== undefined ? getTotalDuration() : 0 }} phút
          </span>
        </h3>
      </div>
      <!-- <div class="container suggest-song-section">
        <div class="section-header">
          <h3 class="mar-0 zm-section-title title is-2">
            Có thể bạn quan tâm
          </h3>
          <button class="zm-btn is-outlined active is-small is-upper button" tabindex="0">
            <i class="icon ic-reload">
            </i>
            <span>
              Làm mới
            </span>
          </button>
        </div>
        <div class="list">
          <div class="list-item bor-b-1 media-item hide-right">
            <div class="media">
              <div class="media-left" style="width: 50%">
                <div class="song-prefix mar-r-10">
                  <i class="icon ic-song">
                  </i>
                </div>
                <div class="song-thumb">
                  <figure class="image is-40x40" title="Phụ Tình">
                    <img
                      src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/cover/6/6/e/9/66e951f377d556e069afed6c137335ae.jpg"
                      alt="" class="">
                  </figure>
                  <div class="opacity">
                  </div>
                  <div class="zm-actions-container">
                    <div class="zm-box zm-actions">
                      <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                        tabindex="0">
                        <i class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                      </button>
                      <button class="zm-btn action-play button" tabindex="0">
                        <i class="icon action-play ic-play">
                        </i>
                      </button>
                      <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                        <i class="icon ic-more">
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-info">
                  <div class="title-wrapper">
                    <span class="item-title has-icon title">
                      <span>
                        <span>
                          <span>
                            Phụ Tình (Single)
                          </span>
                        </span>
                        <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                          …
                        </span>
                      </span>
                    </span>
                  </div>
                  <h3 class="is-one-line is-truncate subtitle">
                    <a class="is-ghost" routerLink="/profile">
                      Trịnh Đình Quang
                    </a>
                  </h3>
                </div>
              </div>
              <div class="media-right">
                <div class="hover-items">
                  <div class="level">
                    <div class="level-item">
                      <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                        tabindex="0">
                        <i class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                      </button>
                    </div>
                    <div class="level-item">
                      <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                        <i class="icon ic-add">
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="action-items">
                  <div class="level">
                    <div class="level-item">
                      <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                        tabindex="0">
                        <i class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                      </button>
                    </div>
                    <div class="level-item duration">
                      04:54
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div style="z-index: -1;" class="container">
    <h3 class="zm-section-title title is-2">
      Nhạc của Thúy Khanh
    </h3>
    <div class="zm-carousel-wrapper">
      <div class="zm-carousel">
        <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
          <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
            <div class="zm-card zm-card--artist">
              <div class="zm-card-image is-rounded">
                <a class="" title="La Thăng New" routerLink="/profile">
                  <figure class="image is-48x48">
                    <img
                      src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/e/d/5/9/ed59c22962c393fc8bebd459597505da.jpg"
                      alt="" class="">
                  </figure>
                  <div class="opacity">
                  </div>
                  <div class="zm-actions-container">
                    <div class="zm-box zm-actions artist-actions playlist-actions">
                      <button class="zm-btn button " tabindex="0">
                        <i class="icon action-play ic-play">
                        </i>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
              <div class="zm-card-content">
                <div class="title">
                  <a class="is-ghost" routerLink="/profile">
                    Thúy Khanh
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
            <div class="zm-card zm-card--artist">
              <div class="zm-card-image ">
                <div class="zm-actions-container ">
                  <div class="zm-box zm-actions playlist-actions ">
                    <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                      <i class="icon ic-like">
                      </i>
                      <!-- <i class="icon ic-like-full">
                        </i> -->
                    </button>
                    <button class="zm-btn button " tabindex="0">
                      <i class="icon action-play ic-play">
                      </i>
                    </button>
                    <button (click)="openChooseOptionOtherTrack()" class="zm-btn zm-tooltip-btn is-hover-circle button "
                      tabindex="0">
                      <i class="icon ic-more">
                      </i>
                    </button>

                  </div>
                </div>
                <figure class="image is-48x48">
                  <img
                    src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/e/d/5/9/ed59c22962c393fc8bebd459597505da.jpg"
                    alt="" class="">
                </figure>
              </div>
              <div style="text-align: left !important;" class="zm-card-content">
                <div class="title">
                  <a class="is-ghost" style="text-align: left !important;" routerLink="/profile">
                    Những bài hát hay
                  </a>
                </div>
                <div class="subtitle">
                  <span class="followers">
                    Thúy Khanh
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
        <i class="icon ic-go-left">
        </i>
      </button>
      <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
        <i class="icon ic-go-right">
        </i>
      </button>
    </div>
  </div>
</div>
<div style="left: calc(100% - 830px);top: calc(100% + 330px);" *ngIf="chooseOptionOtherTrack" class="zm-contextmenu playlist-menu">
  <div class="menu">
    <ul class="menu-list">
      <li><button class="zm-btn button" tabindex="0"><i class="icon ic-add-play-now"></i><span>Thêm vào danh
            sách phát</span></button></li>
      <li><button class="zm-btn button" tabindex="0"><i class="icon ic-comment"></i><span>Bình
            luận</span></button></li>
      <li> <button class="zm-btn button" tabindex="0"><i class="icon ic-download"></i><span>Tải
            xuống</span></button></li>
      <li><button class="zm-btn button" tabindex="0"><i class="icon ic-link"></i><span>Sao chép
            link</span></button></li>
      <li>
        <div class="menu-list--submenu"><button class="zm-btn button" tabindex="0"><i
              class="icon ic-share"></i><span>Chia sẻ</span><i class="icon ic-go-right"></i></button></div>
      </li>
    </ul>
  </div>
</div>

