<section class="scrollable padder-lg w-f-md" id="bjax-target">
    <div class="container row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="title">
              Change password
            </h3>
          </div>
          <div class="card-body">
            <form novalidate #changePasswordForm="ngForm" (ngSubmit)="onChangePassword(changePasswordForm)" class="ng-untouched ng-pristine ng-valid">
              <div class="row">
                <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                        <label>
                          Username
                        </label>
                        <input placeholder="Enter your username" name="username" ngModel type="text" class="form-control">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 pr-md-1">
                  <div class="form-group">
                    <label>
                      Current password
                    </label>
                    <input placeholder="Enter current password" name="oldPassword" ngModel type="password" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                        <label>
                          New Password
                        </label>
                        <input placeholder="Enter new password" name="newPassword" ngModel type="password" class="form-control">
                    </div>
                </div>
              </div>
              <div class="card-footer row">
                <button type="submit" class="btn btn-fill btn-danger">
                  <i *ngIf="refreshing" class="fa fa-spinner"></i>
                  <span *ngIf="refreshing"> Changing...</span>
                  <span class="m-r-n-lg" *ngIf="!refreshing">Save</span>
                </button>
              </div>
            </form>
          </div>
         
        </div>
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
  </section>
  