<section class="scrollable padder-lg w-f-md" id="bjax-target">
  <div class="container row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8 pr-md-1">
              <h3 class="title">
                Profile
              </h3>
            </div>
            <div class="col-md-3 pr-md-1"></div>
            <div class="col-md-1 pl-md-1">
              <a (click)="onActiveEdit()" style="cursor: pointer;" [hidden]="activeEdit">Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form novalidate #profileForm="ngForm" (ngSubmit)="onEditUser(profileForm)" class="ng-untouched ng-pristine ng-valid">
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label>
                    First Name
                  </label>
                  <input [readonly]="!activeEdit" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name" type="text"
                    class="form-control">
                </div>
              </div>
              <div class="col-md-8 pl-md-1">
                <div class="form-group">
                  <label>
                    Last Name
                  </label>
                  <input [readonly]="!activeEdit" placeholder="Last Name" type="text" name="lastName" [(ngModel)]="user.lastName"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label>
                    Email address
                  </label>
                  <input [readonly]="!activeEdit" placeholder="account@email.com" name="email" [(ngModel)]="user.email" type="email"
                    class="form-control">
                </div>
              </div>
            </div>
            <div *ngIf="activeEdit" class="row">
              <div class="col-md-12 pr-md-1">
                <div class="form-group">
                  <label>
                    Story
                  </label>
                  <textarea rows="5" name="story" [(ngModel)]="user.story" class="text-area form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="card-footer row">
              <button [hidden]="!activeEdit" type="submit" class="btn btn-fill btn-danger">
                <i *ngIf="refreshing" class="fa fa-spinner"></i>
                <span *ngIf="refreshing"> Saving...</span>
                <span class="m-r-n-lg" *ngIf="!refreshing">Save</span>
              </button>
              <button style="margin-left: 10px" [hidden]="!activeEdit" type="button" (click)="onCancelEdit()" class="btn btn-fill btn-danger">
                <span class="m-r-n-lg">Cancel</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one">
            </div>
            <div class="block block-two">
            </div>
            <div class="block block-three">
            </div>
            <div class="block block-four">
            </div>
            <a href="javascript:void(0)">
              <img alt="{{ user?.firstName }}" src="{{ user?.avatarImg }}" class="avatar">
              <ngb-progressbar class="progress mt-2" *ngIf="progress === 1" [showValue]="true" type="success" [value]="progress"></ngb-progressbar>
              <div class="card-footer">
                <button (click)="updateProfileImage()" type="submit" class="btn btn-fill btn-danger">
                  Upload Image
                </button>
                <form enctype="multipart/form-data" style="display: none;">
                  <input type="file" name="profile-image-input" id="profile-image-input" accept="image/*" (change)="onProfileImageChange($event); onUpdateProfileImage();">
                </form>
              </div>
              <h3 class="title">
                {{ user?.lastName }} {{ user?.firstName }}
              </h3>
            </a>
          </div>
          <div id="txtUserStory" class="card-description">
            {{ user?.story }}
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
