<div class="add-playlist">
    <div mat-dialog-actions>
        <button (click)="closeAddNewPlaylist()" class="btn-close" mat-button mat-dialog-close>&times;</button>
    </div>    
    <h2 mat-dialog-title style="font-weight: bold; text-align: center;">Tạo playlist mới</h2>
    <div mat-dialog-content>
        <form [formGroup]="addNewPlaylistFormGroup" class="form-playlist">

            <input formControlName="name" name="namePlaylist" class="input-name-playlist" type="text" placeholder="Nhập tên playlist" tabindex="-1" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="help-block">
                <div *ngIf="name.errors.required">
                  Vui lòng nhập tên playlist.
                </div>
            </div>
            <select formControlName="categoryId" class="input-name-playlist" name="categoryIdPlaylist" id="">
                <option [value]="0">Chọn chuyên mục</option>
                <option *ngFor="let category of listCategory" [value]="category.id">{{ category.name }}</option>
            </select>
            <div *ngIf="categoryIdPlaylist.invalid && (categoryIdPlaylist.dirty || categoryIdPlaylist.touched)" class="help-block">
                <!-- <div *ngIf="categoryId.errors.min"> -->
                  Vui lòng chọn chuyên mục.
                <!-- </div> -->
            </div>
            <select formControlName="genreId" class="input-name-playlist" name="genreIdPlaylist" id="">
                <option [value]="0">Chọn thể loại</option>
                <option *ngFor="let genre of listGenre" [value]="genre.id">{{ genre.name }}</option>
            </select>
            <div *ngIf="genreIdPlaylist.invalid && (genreIdPlaylist.dirty || genreIdPlaylist.touched)" class="help-block">
                <!-- <div *ngIf="genreId.errors.required"> -->
                  Vui lòng chọn thể loại.
                <!-- </div> -->
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button (click)="onAddNewPlaylist(addNewPlaylistFormGroup.value)" class="btn-add-new-playlist" mat-button>TẠO MỚI</button>
    </div>  
    
</div>
