<div class="add-playlist">
    <div mat-dialog-actions>
        <button (click)="closeAddNewPlaylist()" class="btn-close" mat-button mat-dialog-close>&times;</button>
    </div>    
    <h2 mat-dialog-title style="font-weight: bold; text-align: center;">Tạo playlist mới</h2>
    <div mat-dialog-content>
        <form class="form-playlist">

            <input (input)="onChangeNamePlaylist($event.target.value)" name="namePlaylist" class="input-name-playlist" type="text" placeholder="Nhập tên playlist" tabindex="-1" />

            <select (change)="onChangeCategoryPlaylist($event.target.value)" class="input-name-playlist" name="categoryIdPlaylist" id="">
                <option [value]="0">Chọn chuyên mục</option>
                <option *ngFor="let category of listCategory" [value]="category.id">{{ category.name }}</option>
            </select>

            <select (change)="onChangeGenrePlaylist($event.target.value)" class="input-name-playlist" name="genreIdPlaylist" id="">
                <option [value]="0">Chọn thể loại</option>
                <option *ngFor="let genre of listGenre" [value]="genre.id">{{ genre.name }}</option>
            </select>

        </form>
    </div>
    <div mat-dialog-actions>
        <button (click)="onAddNewPlaylist()" [disabled]="!allowAdd" class="btn-add-new-playlist" mat-button>TẠO MỚI</button>
    </div>  
    
</div>
