<div class="scrollable">
  <div class="clearfix">
    <div class="media playlist-header sticky">
      <div class="media-left">
        <div class="zm-card header-thumbnail">
          <div class="zm-card-image">
            <div class="z-thumb">
              <figure class="image is-48x48">
                <img
                  src="{{ playlistInfo?.imageUrl === null ? 'https://photo-zmp3.zadn.vn/album_default.png' : playlistInfo?.imageUrl}}"
                  alt="" class="">
              </figure>
              <div class="opacity">
              </div>
            </div>
            <div class="zm-actions-container">
              <div class="zm-box zm-actions playlist-actions">
                <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
                <button class="zm-btn action-play button" tabindex="0">
                  <i class="icon action-play ic-svg-play-circle">
                  </i>
                </button>
                <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                  <i class="icon ic-more">
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media-content">
        <div class="content-top">
          <div class="user-playlist-title">
            <h3 class="title">
              {{ playlistInfo?.name }}
              <button mat-button (click)="openAddNewPlaylist()" class="zm-btn mar-l-5 button" tabindex="0">
                <i class="icon ic-edit">
                </i>
              </button>
            </h3>
          </div>
          <div class="created-by">
            Tạo bởi
            <span>
              {{ user.firstName }}
            </span>
          </div>
          <h3 class="subtitle">
            Riêng tư
          </h3>
        </div>
        <div class="level actions">
          <!-- <button class="zm-btn btn-play-all is-outlined active is-medium is-upper button" tabindex="0">
            <i class="icon ic-play">
            </i>
            <span>
              Tiếp tục phát
            </span>
          </button> -->
          <button (click)="openChooseOptionPlaylist()" class="zm-btn zm-tooltip-btn is-hover-circle button"
            tabindex="0">
            <i class="icon ic-more">
            </i>
          </button>
          <div *ngIf="chooseOptionPlaylist" class="zm-contextmenu playlist-menu">
            <div class="menu">
              <ul class="menu-list">
                <li><button (click)="addPlaylistToCurrentPlaylist()" class="zm-btn button" tabindex="0"><i class="icon ic-add-play-now"></i><span>Thêm vào danh
                      sách phát</span></button></li>
                <li> <button class="zm-btn button" tabindex="0"><i class="icon ic-download"></i><span>Tải
                      xuống</span></button></li>
                <li><button (click)="deletePlaylist()" class="zm-btn button" tabindex="0"><i class="icon ic-delete"></i><span>Xóa
                      playlist</span></button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="playlist-content">
      <div *ngIf="playlistInfo?.playlistDetails.length > 0" class="container user-songs-container">
        <div class="user-song-section">
          <div class="list user-song-section song-list-select">
            <div class="media select-header">
              <div class="media-left">
                <div *ngIf="!trackSelected.length" class="sort-wrapper">
                  <div class="zm-dropdown zm-group-dropdown mar-r-10">
                    <div class="zm-dropdown-trigger-btn">
                      <button class="zm-btn button" tabindex="0">
                        <i class="icon ic-24-Sort">
                        </i>
                      </button>
                    </div>
                    <div class="zm-dropdown-content">
                      <div class="zm-dropdown-list-item">
                        Mặc định
                      </div>
                      <div class="zm-dropdown-list-item">
                        Tên bài hát (A-Z)
                      </div>
                      <div class="zm-dropdown-list-item">
                        Tên ca sĩ (A-Z)
                      </div>
                      <div class="zm-dropdown-list-item">
                        Tên Album (A-Z)
                      </div>
                    </div>
                  </div>
                  <div class="column-text">
                    Bài hát
                  </div>
                </div>
                <div *ngIf="trackSelected.length" class="actions">
                  <label class="checkbox">
                    <input [hidden]="trackSelected.length === playlistInfo.playlistDetails.length" name="check-all" (click)="selectAllSong()"
                      type="checkbox">
                    <input [hidden]="trackSelected.length !== playlistInfo.playlistDetails.length" name="check-all" (click)="selectAllSong()"
                      type="checkbox" checked>
                  </label>
                  <button (click)="addToCurrentPlaylist()" class="zm-btn action-btn add-queue-btn button" tabindex="0">
                    <i class="icon ic-add-play-now"></i><span>Thêm vào danh sách phát</span>
                  </button>
                  <div id="select-menu-id" class="more-btn-wrapper">
                    <button (click)="openChooseOption()" class="zm-btn action-btn more-btn button" tabindex="0">
                      <i class="icon ic-more"></i>
                    </button>
                    <div *ngIf="chooseOption" class="zm-contextmenu select-menu">
                      <div>
                        <div class="menu">
                          <ul class="menu-list">
                            <li>
                              <div class="menu-list--submenu">
                                <button class="zm-btn button" tabindex="0">
                                  <i class="icon ic-16-Add"></i><span>Thêm vào playlist</span>
                                  <i class="icon ic-go-right"></i>
                                </button>
                                <div class="menu add-playlist-content submenu-content">
                                  <ul class="menu-list">
                                    <li class="search-box">
                                      <input class="input" placeholder="Tìm playlist">
                                    </li>
                                    <li class="mar-t-10">
                                      <button mat-button (click)="openAddNewPlaylist()" class="zm-btn button"
                                        tabindex="0">
                                        <i class="icon ic- z-ic-svg ic-svg-add"></i><span>Tạo playlist mới</span>
                                      </button>
                                    </li>
                                  </ul>
                                  <div class="playlist-container">
                                    <div class="top-shadow"></div>
                                    <div class="content">
                                      <div style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                        <div
                                          style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                          <ul class="menu-list">
                                            <li>
                                              <button class="zm-btn button" tabindex="0"><i
                                                  class="icon ic-list-music"></i><span>aaa</span>
                                              </button>
                                            </li>
                                          </ul>
                                        </div>
                                        <div class="track-horizontal"
                                          style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                                          <div
                                            style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                                          </div>
                                        </div>
                                        <div class="track-vertical"
                                          style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                                          <div class="thumb-vertical"
                                            style="position: relative; display: block; width: 100%; height: 0px;"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <button (click)="removeTrackFromPlaylist()" class="zm-btn button" tabindex="0">
                                <i class="icon ic-delete"></i><span>Xóa khỏi playlist này</span>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media-content">
                <div class="column-text mar-l-10">
                  Album
                </div>
              </div>
              <div class="media-right">
                <div class="column-text">
                  Thời gian
                </div>
              </div>
            </div>
            <div style="max-height: 250px; overflow: hidden;" class="track-list">
              <div *ngFor="let playlistDetail of playlistInfo?.playlistDetails; let index = index" style="flex-grow: 1;" class="">
                <div name="select-song" class="select-item" id="song{{ index }}" #item>
                  <div class="checkbox-wrapper">
                    <label class="checkbox">
                      <input name="checkbox-song" (click)="selectedSong(playlistDetail.track, item)" type="checkbox">
                    </label>
                  </div>
                  <div class="list-item bor-b-1 media-item hide-right active">
                    <div class="media">
                      <div class="media-left" style="width: 50%">
                        <div class="song-prefix mar-r-15">
                          <span class="number">
                            {{ index + 1 }}
                          </span>
                        </div>
                        <div class="song-thumb">
                          <figure class="image is-40x40" title="Ai Ai Ai">
                            <img src="{{ playlistInfo?.imageUrl === null ? 'https://photo-zmp3.zadn.vn/album_default.png' : playlistInfo?.imageUrl}}" alt="" class="">
                          </figure>
                          <div class="opacity">
                          </div>
                          <div class="zm-actions-container">
                            <div class="zm-box zm-actions">
                                <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
                                <button (click)="playCurrentTrack(playlistDetail.track.id)" class="zm-btn action-play button" tabindex="0">
                                  <i class="icon action-play ic-play"></i>
                                </button>
                                <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                                  <i class="icon ic-more"></i>
                                </button>
                            </div>
                          </div>
                        
                        </div>
                        <div class="card-info">
                          <div routerLink="/single/{{ playlistDetail?.track.id }}" class="title-wrapper">
                            <span class="item-title title">
                              <span>
                                <span>
                                  <span>{{ playlistDetail?.track.name }}</span>
                                </span>
                                <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                  …
                                </span>
                              </span>
                            </span>
                          </div>
                          <h3 class="is-one-line is-truncate subtitle">
                            <a *ngFor="let singer of playlistDetail?.track.singers; let index = index" class="is-ghost" routerLink="/profile/{{ singer.id }}">
                              {{ singer.nickName }}{{ index === playlistDetail?.track.singers.length - 1 ? '' : ',' }} &nbsp;
                            </a>
                          </h3>
                        </div>
                      </div>
                      <div class="media-content">
                        <div routerLink="/album" class="album-info">
                          <span>
                            <span>
                              <!-- <span>Chẳng Hóa Tương Lai (Single)</span> -->
                            </span>
                            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                          </span>
                        </div>
                      </div>
                      <div class="media-right ">
                        <div class="hover-items ">
                          <div class="level ">
                            <div class="level-item ">
                              <button (click)="addTrackToCurrentPlaylist(playlistDetail?.track)" title="Thêm vào danh sách phát" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                <i class="icon ic-add-play-now"></i>
                              </button>
                            </div>
                            <div class="level-item ">
                              <button (click)="likedTrack(playlistDetail?.track.id)"
                                class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                tabindex="0">
                                
                                  <i *ngIf="appUserService.checkExistTrackInTrackLikedList(playlistDetail?.track.id)" class="icon ic-like-full">
                                  </i>
                                  <i *ngIf="!appUserService.checkExistTrackInTrackLikedList(playlistDetail?.track.id)" class="icon ic-like">
                                  </i>
                                  <i class="icon ic-like-full">
                                  </i>
                                  
                                </button>
                            </div>
                            <div class="level-item ">
                              <button (click)="playNextCurrentTrack(playlistDetail?.track.id)" title="Phát tiếp theo" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                <i class="icon ic-play-next"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="action-items ">
                          <div class="level ">
                            <div class="level-item ">
                              <button (click)="likedTrack(playlistDetail?.track.id)"
                              class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                              tabindex="0">
                              
                                <i title="Thêm vào danh sách yêu thích" *ngIf="appUserService.checkExistTrackInTrackLikedList(playlistDetail?.track.id)" class="icon ic-like-full">
                                </i>
                                <i title="Xóa khỏi danh sách yêu thích" *ngIf="!appUserService.checkExistTrackInTrackLikedList(playlistDetail?.track.id)" class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                                
                              </button>
                            </div>
                            <div class="level-item duration ">
                              {{ appUtilService.getTimeDuration(playlistDetail?.track.durationSeconds) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
          </div>
        </div>
        <h3 class="bottom-info subtitle">
          <span>
            {{ playlistInfo?.playlistDetails.length }} bài hát
          </span>
          •
          <span>
            {{ getTotalDuration() }} phút
          </span>
        </h3>
      </div>
      <div *ngIf="playlistInfo?.playlistDetails.length === 0" class="no-content-box">
        <i class="icon main-icon ic-song">
        </i>
        <span class="no-content-text">Hiện không có bài hát thuộc playlist này</span>
      </div>
      <div class="container suggest-song-section">
        <div class="section-header">
          <h3 class="mar-0 zm-section-title title is-2">
            Bài hát gợi ý
          </h3>
          <button class="zm-btn is-outlined active is-small is-upper button" tabindex="0">
            <i class="icon ic-reload">
            </i>
            <span>
              Làm mới
            </span>
          </button>
        </div>
        <h3 class="mar-b-15 subtitle">
          Dựa trên các bài hát trong playlist này
        </h3>
        <div style="max-height: 300px; overflow: hidden;" class="track-list">
          <div *ngFor="let recommendedTrack of listTrackRecommended" class="list-item bor-b-1 media-item hide-right">
            <div class="media">
              <div class="media-left" style="width: 50%">
                <div class="song-prefix mar-r-10">
                  <!-- <i class="icon ic-song">
                  </i> -->
                </div>
                <div class="song-thumb">
                  <figure class="image is-40x40" title="Phụ Tình">
                    <img
                      src="assets/images/my-logo.png"
                      alt="" class="">
                  </figure>
                  <div class="opacity">
                  </div>
                  <div class="zm-actions-container">
                    <div class="zm-box zm-actions">
                      <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                        tabindex="0">
                        <i class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                      </button>
                      <button class="zm-btn action-play button" tabindex="0">
                        <i class="icon action-play ic-play">
                        </i>
                      </button>
                      <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                        <i class="icon ic-more">
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-info">
                  <div routerLink="/single/{{ recommendedTrack.id }}" class="title-wrapper">
                    <span class="item-title has-icon title">
                      <span>
                        <span>
                          <span>
                            {{ recommendedTrack.name }}
                          </span>
                        </span>
                        <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                          …
                        </span>
                      </span>
                    </span>
                  </div>
                  <h3 class="is-one-line is-truncate subtitle">
                    <a *ngFor="let singer of recommendedTrack?.singers; let index = index" class="is-ghost" routerLink="/profile/{{ singer.id }}">
                      {{ singer.nickName }}{{ index === recommendedTrack?.singers.length - 1 ? '' : ',' }} &nbsp;
                    </a>
                  </h3>
                </div>
              </div>
              <div class="media-content">
                <div class="album-info">
                  <span>
                    <span>
                      <span>
                        <!-- Phụ Tình (Single) -->
                      </span>
                    </span>
                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                      …
                    </span>
                  </span>
                </div>
              </div>
              <div class="media-right">
                <div class="hover-items">
                  <div class="level">
                    <div class="level-item">
                      <button (click)="likedTrack(recommendedTrack.id)"
                      class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                      tabindex="0">
                      
                        <i *ngIf="appUserService.checkExistTrackInTrackLikedList(recommendedTrack.id)" class="icon ic-like-full">
                        </i>
                        <i *ngIf="!appUserService.checkExistTrackInTrackLikedList(recommendedTrack.id)" class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                        
                      </button>
                    </div>
                    <div class="level-item">
                      <button (click)="addTrackToPlaylist(recommendedTrack.id)" class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                        <i class="icon ic-add">
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="action-items">
                  <div class="level">
                    <div class="level-item">
                      <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                        tabindex="0">
                        <i class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                      </button>
                    </div>
                    <div class="level-item duration">
                      {{ appUtilService.getTimeDuration(recommendedTrack.durationSeconds) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="z-index: -1;" class="container">
    <h3 class="zm-section-title title is-2">
      Nghệ sĩ tham gia
    </h3>
    <div class="zm-carousel-wrapper">
      <div class="zm-carousel">
        <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
          <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
            <div class="zm-card zm-card--artist">
              <div class="zm-card-image is-rounded">
                <a class="" title="La Thăng New" routerLink="/profile">
                  <figure class="image is-48x48">
                    <img
                      src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/e/d/5/9/ed59c22962c393fc8bebd459597505da.jpg"
                      alt="" class="">
                  </figure>
                  <div class="opacity">
                  </div>
                  <div class="zm-actions-container">
                    <div class="zm-box zm-actions artist-actions">
                      <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                        tabindex="0">
                        <i class="icon ic-like">
                        </i>
                        <i class="icon ic-like-full">
                        </i>
                      </button>
                      <button class="zm-btn action-play button" tabindex="0">
                        <i class="icon action-play ic-svg-play-circle">
                        </i>
                      </button>
                      <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                        <i class="icon ic-more">
                        </i>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
              <div class="zm-card-content">
                <div class="title">
                  <a class="is-ghost" routerLink="/profile">
                    La Thăng New
                  </a>
                </div>
                <div class="subtitle">
                  <span class="followers">
                    711 quan tâm
                  </span>
                </div>
              </div>
              <div class="zm-card-footer">
                <button class="zm-btn is-outlined active mar-t-15 mar-b-20 is-small is-upper button" tabindex="0">
                  <i class="icon ic-addfriend">
                  </i>
                  <span>
                    Quan tâm
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
        <i class="icon ic-go-left">
        </i>
      </button>
      <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
        <i class="icon ic-go-right">
        </i>
      </button>
    </div>
  </div>
</div>
