<section class="scrollable padder-lg w-f-md " id="bjax-target">
  <div class="container hero-body">
    <div class="bg-artist-img"></div>
    <div class="columns is-multiline">
      <div class="left column mar-b-0 is-fullhd-7">
        <div>
          <h3 class="artist-name">
            {{ singerInfo?.nickName }}
          </h3>
          <div class="biography">
            <div class="content is-medium">
              Sinh ngày: {{ singerInfo?.birthday.toLocaleString() }}
              
              <!-- <span class="read-more">
                ... Xem thêm
              </span> -->
            </div>
            Giới tính: {{ !singerInfo?.gender ? 'Nam' : 'Nữ' }}
          </div>
        </div>
        <div class="left-bottom">
          <!-- <div class="actions">
            <button class="zm-btn mar-r-10 is-outlined active is-medium is-upper button" tabindex="0">
              <i class="icon ic-play">
              </i>
              <span>
                Phát nhạc
              </span>
            </button>
            <button class="zm-btn is-outlined active mar-r-15 is-medium is-upper button" tabindex="0">
              <i class="icon ic-addfriend">
              </i>
              <span>
                Quan tâm
              </span>
            </button>
            <span class="followers">
              67K QUAN TÂM
            </span>
          </div> -->
          <div class="media zm-artist-new-release-album">
            <div class="media-left">
              <div class="song-thumb">
                <figure class="image is-40x40">
                  <img
                    src="{{ defaultImage }}"
                    alt="">
                </figure>
              </div>
            </div>
            <div class="media-content">
              <span>
                MỚI NHẤT
              </span>
              <h4 class="mar-0 title">
                {{ trackList?.length === 0 ? "Hiện ca sĩ chưa có ca khúc mới" : trackList[trackList?.length - 1].name }}
              </h4>
              <h3 class="subtitle">
                {{ trackList?.length === 0 ? "" : "" }}
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="right column mar-b-0 is-fullhd-5">
        <figure class="image avatar is-40x40">
          <img
            src="{{ singerInfo?.avatarImgUrl }}"
            alt="">
        </figure>
      </div>
    </div>
  </div>
  <mat-tab-group style="padding: 0px 100px;" mat-align-tabs="center" color="transparent" animationDuration="0ms"
    backgroundColor="">
    <!-- <div class="mat-elevation-z4">
      <mat-tab label="TỔNG QUÁT" [aria-label]="'accent'">
        <div class="container-song">
          <h3 class="title">Bài hát nổi bật</h3>
          <div class="special">
            <ul class="songs-animate-container">
              <li class="song-animate-item third">
                <img
                  src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/covers/1/b/1b352fa8373feb08c631eb7a4f7cfb02_1494299663.jpg"
                  alt="">
              </li>
              <li class="song-animate-item second">
                <img class="top"
                  src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/covers/7/f/7fdc1a630c238af0815181f9faa190f5_1307243181.jpg"
                  alt="">
              </li>
              <li class="song-animate-item first">
                <img class="top"
                  src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/cover/c/7/8/e/c78e8ce34a99553a3a0322844590a51d.jpg"
                  alt="">
              </li>
            </ul>
            <div class="media-list">
              <div *ngFor="let song of songList; let index = index" style="flex-grow: 1;" class="">
                <div name="select-song" class="select-item" id="song{{ index }}" #item>
                  <div class="list-item bor-b-1 media-item hide-right active ">
                    <div class="media ">
                      <div class="media-left " style="width: 50%;">
                        <div class="song-thumb ">
                          <figure class="image is-40x40" title="Ai Ai Ai">
                            <img src="{{ song.srcImg }}" alt="" class="">
                          </figure>
                          <div class="opacity ">
                          </div>
                        </div>
                        <div class="card-info ">
                          <div class="title-wrapper ">
                            <span class="item-title title">
                              <span>
                                <span>
                                  <span>{{ song.name }}</span>
                                </span>
                                <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                  …
                                </span>
                              </span>
                            </span>
                          </div>
                          <h3 class="is-one-line is-truncate subtitle ">
                            <a class="is-ghost " routerLink="/profile">
                              {{ song.artist }}
                            </a>
                          </h3>
                        </div>
                      </div>
                      <div class="media-content ">
                        <div routerLink="/album" class="album-info">
                          <span>
                            <span>
                              <span>Chẳng Hóa Tương Lai (Single)</span>
                            </span>
                            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                          </span>
                        </div>
                      </div>
                      <div class="media-right ">
                        <div class="hover-items ">
                          <div class="level ">
                            <div class="level-item ">
                              <button class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                <i class="icon ic-karaoke">
                                </i>
                              </button>
                            </div>
                            <div class="level-item ">
                              <button
                                class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                tabindex="0">
                                <i class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                              </button>
                            </div>
                            <div class="level-item ">
                              <button (click)="openChooseOptionSong(index)"
                                class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                <i class="icon ic-more">
                                </i>
                              </button>
                              <div *ngIf="chooseOptionSong[index]" style="top: 100px" class="zm-contextmenu song-menu">
                                <div class="menu">
                                  <ul class="menu-list">
                                    <div class="menu-list--submenu">
                                      <div class="media song-info-menu" style="background: transparent !important;">
                                        <div class="media-left">
                                          <figure class="image is-40x40"><img
                                              src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_png/covers/8/8/88825ed8c45dd6409360affa18d36f1a_1470729217.png"
                                              alt=""></figure>
                                        </div>
                                        <div class="is-w-150 media-content">
                                          <a>
                                            <div class="title-wrapper"><span
                                                class="item-title title"><span><span><span>Nỗi Đau Em Giấu Một
                                                      Mình</span></span><span
                                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></span>
                                            </div>
                                          </a>
                                          <div class="song-stats">
                                            <div class="stat-item">
                                              <i class="icon ic-like"></i><span>86K</span>
                                            </div>
                                            <div class="stat-item">
                                              <i class="icon ic-view"></i><span>8.6M</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </ul>
                                  <ul class="menu-list">
                                    <div class="group-button-menu">
                                      <div class="group-button-list">
                                        <button class="zm-btn button">
                                          <i class="icon ic-download"></i><span>Tải xuống</span>
                                        </button>
                                        <button class="zm-btn button" tabindex="0">
                                          <i class="icon ic-16-Lyric"></i><span>Lời bài hát</span>
                                        </button>
                                        <span class="zm-btn button">
                                          <i class="icon ic-denial"></i><span>Chặn</span>
                                        </span>
                                      </div>
                                    </div>
                                  </ul>
                                  <ul class="menu-list">
                                    <li><button class="zm-btn button" tabindex="0"><i
                                          class="icon ic-add-play-now"></i><span>Thêm vào danh sách phát</span></button>
                                    </li>
                                    <li><button class="zm-btn button" tabindex="0"><i
                                          class="icon ic-play-next"></i><span>Phát tiếp theo</span></button></li>
                                    <li></li>
                                    <li>
                                      <div class="menu-list--submenu">
                                        <button class="zm-btn button" tabindex="0">
                                          <i class="icon ic-16-Add"></i><span>Thêm vào playlist</span>
                                          <i class="icon ic-go-right"></i>
                                        </button>
                                        <div style="left: -230px; top: -100px;"
                                          class="menu add-playlist-content submenu-content">
                                          <ul class="menu-list">
                                            <li class="search-box">
                                              <input class="input" placeholder="Tìm playlist">
                                            </li>
                                            <li class="mar-t-10">
                                              <button mat-button (click)="openAddNewPlaylist()" class="zm-btn button"
                                                tabindex="0">
                                                <i class="icon ic- z-ic-svg ic-svg-add"></i><span>Tạo playlist
                                                  mới</span>
                                              </button>
                                            </li>
                                          </ul>
                                          <div class="playlist-container">
                                            <div class="top-shadow"></div>
                                            <div class="content">
                                              <div
                                                style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                                <div
                                                  style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                                  <ul class="menu-list">
                                                    <li>
                                                      <button class="zm-btn button" tabindex="0"><i
                                                          class="icon ic-list-music"></i><span>aaa</span>
                                                      </button>
                                                    </li>
                                                  </ul>
                                                </div>
                                                <div class="track-horizontal"
                                                  style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                                                  <div
                                                    style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                                                  </div>
                                                </div>
                                                <div class="track-vertical"
                                                  style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                                                  <div class="thumb-vertical"
                                                    style="position: relative; display: block; width: 100%; height: 0px;">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li><button class="zm-btn button" tabindex="0"><i
                                          class="icon ic-comment"></i><span>Bình luận</span><span
                                          class="comment-badge"></span></button></li>
                                    <li><button class="zm-btn button" tabindex="0"><i class="icon ic-link"></i><span>Sao
                                          chép link</span></button></li>
                                    <li>
                                      <div class="menu-list--submenu"><button class="zm-btn button" tabindex="0"><i
                                            class="icon ic-share"></i><span>Chia sẻ</span><i
                                            class="icon ic-go-right"></i></button></div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="action-items ">
                          <div class="level ">
                            <div class="level-item ">
                              <button
                                class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button "
                                tabindex="0">
                                <i class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                              </button>
                            </div>
                            <div class="level-item duration ">
                              03:36
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </mat-tab>
    </div> -->
    <div class="mat-elevation-z4">
      <mat-tab label="BÀI HÁT" [aria-label]="'accent'">
        <div class="container-song library-song-list  ">
          <div class="song-list-header ">
            <h3 class="mar-0 title is-2 ">
              Danh sách bài hát
            </h3>
            <div class="is-center ">
              <input id="up-button" type="file" accept="audio/*" multiple="" style="display: none;">
              <button class="zm-btn is-outlined active is-small is-upper button " tabindex="0">
                <i class="icon ic-play">
                </i>
                <span>
                  Phát tất cả
                </span>
              </button>
            </div>
          </div>
          <div class="list list-border song-list-select ">
            <div class="">
              <div *ngFor="let track of trackList | paginate: { id: 'trackPagination', itemsPerPage: thePageSizeTrack, currentPage: thePageNumberTrack, totalItems: theTotalElementsTrack }; let index = index" style="flex-grow: 1;" class="">
                <div name="select-song" class="select-item" id="song{{ index }}" #item>
                  <div class="list-item bor-b-1 media-item hide-right active ">
                    <div class="media ">
                      <div class="media-left " style="width: 50%;">
                        <div class="song-thumb ">
                          <figure class="image is-40x40" title="Ai Ai Ai">
                            <img src="{{ defaultImage }}" alt="" class="">
                          </figure>
                          <div class="opacity "></div>
                          <div class="zm-actions-container">
                            <div class="zm-box zm-actions">
                                <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
                                <button (click)="playCurrentTrack(track.id)" class="zm-btn button" tabindex="0">
                                  <i class="icon ic-play"></i>
                                </button>
                                <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                                  <i class="icon ic-more"></i>
                                </button>
                            </div>
                          </div>
                        </div>
                        <div class="card-info ">
                          <div class="title-wrapper ">
                            <span routerLink="/single/{{ track.id }}" class="item-title title">
                              <span>
                                <span>
                                  <span>{{ track.name }}</span>
                                </span>
                                <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                  …
                                </span>
                              </span>
                            </span>
                          </div>
                          <h3 class="is-one-line is-truncate subtitle">
                            <a *ngFor="let singer of track.singers; let index = index" class="is-ghost" routerLink="/profile/{{ singer.id }}">
                              {{ singer.nickName }}{{ index === track.singers.length - 1 ? '' : ',' }} &nbsp;
                            </a>
                          </h3>
                        </div>
                      </div>
                      <div class="media-content ">
                        <div routerLink="/album" class="album-info">
                          <span>
                            <span>
                              <!-- <span>Chẳng Hóa Tương Lai (Single)</span> -->
                            </span>
                            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                          </span>
                        </div>
                      </div>
                      <div class="media-right ">
                        <div class="hover-items ">
                          <div class="level ">
                            <div class="level-item ">
                              <button (click)="addTrackToCurrentPlaylist(track)" title="Thêm vào danh sách phát" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                <i class="icon ic-add-play-now"></i>
                              </button>
                            </div>
                            <div class="level-item ">
                              <button (click)="likedTrack(track.id)"
                                class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                tabindex="0">
                                
                                  <i *ngIf="appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like-full">
                                  </i>
                                  <i *ngIf="!appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like">
                                  </i>
                                  <i class="icon ic-like-full">
                                  </i>
                                  
                                </button>
                            </div>
                            <div class="level-item ">
                              <button (click)="playNextCurrentTrack(track.id)" title="Phát tiếp theo" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                <i class="icon ic-play-next"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="action-items ">
                          <div class="level ">
                            <div class="level-item ">
                              <button (click)="likedTrack(track.id)"
                              class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                              tabindex="0">
                              
                                <i title="Thêm vào danh sách yêu thích" *ngIf="appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like-full">
                                </i>
                                <i title="Xóa khỏi danh sách yêu thích" *ngIf="!appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                                
                              </button>
                            </div>
                            <div class="level-item duration ">
                              {{ appUtilService.getTimeDuration(track.durationSeconds) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-pagination">
          <pagination-controls id="trackPagination" previousLabel="Prev" nextLabel="Next" (pageChange)="changePageTrack($event)"></pagination-controls>
        </div>
      </mat-tab>
    </div>
    <div class="mat-elevation-z4">
      <mat-tab label="ALBUM" [aria-label]="'accent'">
        <div class="container-album">
          <h3 class="zm-section-title title is-2 ">
            Album
          </h3>
          <div class="zm-carousel-wrapper ">
            <div class="zm-carousel ">
              <div class="zm-carousel__container " style="transform: translate3d(0px, 0px, 0px);">
                <div *ngFor="let album of albumList | paginate: { id: 'albumPagination', itemsPerPage: thePageSize, currentPage: thePageNumber, totalItems: theTotalElements }; let index = index" class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                  <div class="zm-card zm-card--artist">
                    <div class="zm-card-image ">
                      <div class="zm-actions-container ">
                        <div class="zm-box zm-actions playlist-actions ">
                          <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                            <i class="icon ic-like">
                            </i>
                            <!-- <i class="icon ic-like-full">
                              </i> -->
                          </button>
                          <button class="zm-btn button " tabindex="0">
                            <i class="icon action-play ic-play">
                            </i>
                          </button>
                          <button (click)="openChooseOptionAlbum()"
                            class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                            <i class="icon ic-more">
                            </i>
                          </button>

                        </div>
                      </div>
                      <figure class="image is-48x48">
                        <img
                          src="{{ album.imgUrl === null ? defaultImage : album.imgUrl }}"
                          alt="" class="">
                      </figure>
                    </div>
                    <div style="text-align: left !important;" class="zm-card-content">
                      <div class="title">
                        <a class="is-ghost" style="text-align: left !important;" routerLink="/album/{{ album.id }}">
                          {{ album.name }}
                        </a>
                      </div>
                      <div class="subtitle">
                        <span *ngFor="let singer of album.singers; let index = index" routerLink="/profile/{{ singer.id }}" class="followers">
                          {{ singer.nickName }}{{ index === album.singers.length - 1 ? '' : ',' }} &nbsp;
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button " tabindex="0">
              <i class="icon ic-go-left">
              </i>
            </button>
            <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button " tabindex="0">
              <i class="icon ic-go-right">
              </i>
            </button>
          </div>
        </div>
        <div style="left: 170px;top: 190px;" *ngIf="chooseOptionAlbum" class="zm-contextmenu playlist-menu">
          <div class="menu">
            <ul class="menu-list">
              <li><button class="zm-btn button" tabindex="0"><i class="icon ic-add-play-now"></i><span>Thêm vào danh
                    sách phát</span></button></li>
              <li><button class="zm-btn button" tabindex="0"><i class="icon ic-comment"></i><span>Bình
                    luận</span></button></li>
              <li> <button class="zm-btn button" tabindex="0"><i class="icon ic-download"></i><span>Tải
                    xuống</span></button></li>
              <li><button class="zm-btn button" tabindex="0"><i class="icon ic-link"></i><span>Sao chép
                    link</span></button></li>
              <li>
                <div class="menu-list--submenu"><button class="zm-btn button" tabindex="0"><i
                      class="icon ic-share"></i><span>Chia sẻ</span><i class="icon ic-go-right"></i></button></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-pagination">
          <pagination-controls id="albumPagination" previousLabel="Prev" nextLabel="Next" (pageChange)="changePageAlbum($event)"></pagination-controls>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</section>
