<section class="scrollable padder-lg w-f-md snipcss-7ryrX" id="bjax-target">
  <div class="container hero-body">
    <div class="columns is-multiline">
      <div class="left column mar-b-0 is-fullhd-7">
        <div>
          <h3 class="artist-name">
            Hà Anh Tuấn
          </h3>
          <div class="biography">
            <div class="content is-medium">
              Là một trong những ca sĩ hàng đầu của V-pop được biết đến từ cuộc thi Sao Mai Điểm Hẹn 2006. Anh có giọng
              hát truyền cảm đầy nội lực, ghi dấu ấn qua những bản tình ca cùng những chương trình âm nhạc.
              <span class="read-more">
                ... Xem thêm
              </span>
            </div>
          </div>
        </div>
        <div class="left-bottom">
          <div class="actions">
            <button class="zm-btn mar-r-10 is-outlined active is-medium is-upper button" tabindex="0">
              <i class="icon ic-play">
              </i>
              <span>
                Phát nhạc
              </span>
            </button>
            <button class="zm-btn is-outlined active mar-r-15 is-medium is-upper button" tabindex="0">
              <i class="icon ic-addfriend">
              </i>
              <span>
                Quan tâm
              </span>
            </button>
            <span class="followers">
              67K QUAN TÂM
            </span>
          </div>
          <div class="media zm-artist-new-release-album">
            <div class="media-left">
              <div class="song-thumb">
                <figure class="image is-40x40">
                  <img
                    src="https://photo-resize-zmp3.zadn.vn/w165_r1x1_png/covers/8/8/88d0511a76b54e1937821a7eaeb8c6fd_1515473197.png"
                    alt="">
                </figure>
              </div>
            </div>
            <div class="media-content">
              <span>
                MỚI NHẤT
              </span>
              <h4 class="mar-0 title">
                Mẹ Chỉ Mong Tết Về (Single)
              </h4>
              <h3 class="subtitle">
                2018
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="right column mar-b-0 is-fullhd-5">
        <figure class="image avatar is-40x40">
          <img
            src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/2/4/24460d034acfc91cb5a32c7611316324_1451752817.jpg"
            alt="">
        </figure>
      </div>
    </div>
  </div>
  <h3 class="title">Bài hát nổi bật</h3>
  <div class="special">
    <div class="img-music">
      <img
        src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/covers/1/b/1b352fa8373feb08c631eb7a4f7cfb02_1494299663.jpg"
        alt="">
      <img class="top"
        src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/covers/7/f/7fdc1a630c238af0815181f9faa190f5_1307243181.jpg"
        alt="">
    </div>
    <div class="media-list">
      <div class="media">
        <div class="media-left">
          <div class="song-thumb">
            <figure class="image is-40x40" title="Mình Yêu Nhau Yêu Nhau Bình Yên Thôi">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/covers/1/b/1b352fa8373feb08c631eb7a4f7cfb02_1494299663.jpg"
                alt="">
            </figure>
            <div class="opacity ">
            </div>
          </div>
          <div class="card-info">
            <div class="title-wrapper">
              <span class="item-title title">
                <span>
                  <span>
                    <span>
                      Mình Yêu Nhau Yêu Nhau Bình Yên Thôi
                    </span>
                  </span>
                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                    …
                  </span>
                </span>
              </span>
            </div>
            <h3 class="is-one-line is-truncate subtitle">
              <a class="is-ghost" href="/nghe-si/Dinh-Huong">
                Đinh Hương
              </a>
              ,
              <a class="is-ghost" href="/nghe-si/Ha-Anh-Tuan">
                Hà Anh Tuấn
              </a>
            </h3>
          </div>
        </div>
        <div class="media-content">
        </div>
        <div class="media-right">
          <div class="hover-items">
            <div class="level">
              <div class="level-item">
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-karaoke">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-more">
                  </i>
                </button>
              </div>
            </div>
          </div>
          <div class="action-items">
            <div class="level">
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item duration">
                04:22
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="song-thumb">
            <figure class="image is-40x40" title="Mình Yêu Nhau Yêu Nhau Bình Yên Thôi">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/covers/1/b/1b352fa8373feb08c631eb7a4f7cfb02_1494299663.jpg"
                alt="">
            </figure>
            <div class="opacity ">
            </div>
          </div>
          <div class="card-info">
            <div class="title-wrapper">
              <span class="item-title title">
                <span>
                  <span>
                    <span>
                      Mình Yêu Nhau Yêu Nhau Bình Yên Thôi
                    </span>
                  </span>
                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                    …
                  </span>
                </span>
              </span>
            </div>
            <h3 class="is-one-line is-truncate subtitle">
              <a class="is-ghost" href="/nghe-si/Dinh-Huong">
                Đinh Hương
              </a>
              ,
              <a class="is-ghost" href="/nghe-si/Ha-Anh-Tuan">
                Hà Anh Tuấn
              </a>
            </h3>
          </div>
        </div>
        <div class="media-content">
        </div>
        <div class="media-right">
          <div class="hover-items">
            <div class="level">
              <div class="level-item">
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-karaoke">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-more">
                  </i>
                </button>
              </div>
            </div>
          </div>
          <div class="action-items">
            <div class="level">
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item duration">
                04:22
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="song-thumb">
            <figure class="image is-40x40" title="Mình Yêu Nhau Yêu Nhau Bình Yên Thôi">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/covers/1/b/1b352fa8373feb08c631eb7a4f7cfb02_1494299663.jpg"
                alt="">
            </figure>
            <div class="opacity ">
            </div>
          </div>
          <div class="card-info">
            <div class="title-wrapper">
              <span class="item-title title">
                <span>
                  <span>
                    <span>
                      Mình Yêu Nhau Yêu Nhau Bình Yên Thôi
                    </span>
                  </span>
                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                    …
                  </span>
                </span>
              </span>
            </div>
            <h3 class="is-one-line is-truncate subtitle">
              <a class="is-ghost" href="/nghe-si/Dinh-Huong">
                Đinh Hương
              </a>
              ,
              <a class="is-ghost" href="/nghe-si/Ha-Anh-Tuan">
                Hà Anh Tuấn
              </a>
            </h3>
          </div>
        </div>
        <div class="media-content">
        </div>
        <div class="media-right">
          <div class="hover-items">
            <div class="level">
              <div class="level-item">
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-karaoke">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-more">
                  </i>
                </button>
              </div>
            </div>
          </div>
          <div class="action-items">
            <div class="level">
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item duration">
                04:22
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="song-thumb">
            <figure class="image is-40x40" title="Mình Yêu Nhau Yêu Nhau Bình Yên Thôi">
              <img
                src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_webp/covers/1/b/1b352fa8373feb08c631eb7a4f7cfb02_1494299663.jpg"
                alt="">
            </figure>
            <div class="opacity ">
            </div>
          </div>
          <div class="card-info">
            <div class="title-wrapper">
              <span class="item-title title">
                <span>
                  <span>
                    <span>
                      Mình Yêu Nhau Yêu Nhau Bình Yên Thôi
                    </span>
                  </span>
                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                    …
                  </span>
                </span>
              </span>
            </div>
            <h3 class="is-one-line is-truncate subtitle">
              <a class="is-ghost" href="/nghe-si/Dinh-Huong">
                Đinh Hương
              </a>
              ,
              <a class="is-ghost" href="/nghe-si/Ha-Anh-Tuan">
                Hà Anh Tuấn
              </a>
            </h3>
          </div>
        </div>
        <div class="media-content">
        </div>
        <div class="media-right">
          <div class="hover-items">
            <div class="level">
              <div class="level-item">
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-karaoke">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                  <i class="icon ic-more">
                  </i>
                </button>
              </div>
            </div>
          </div>
          <div class="action-items">
            <div class="level">
              <div class="level-item">
                <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                  tabindex="0">
                  <i class="icon ic-like">
                  </i>
                  <i class="icon ic-like-full">
                  </i>
                </button>
              </div>
              <div class="level-item duration">
                04:22
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>
