<section class="scrollable padder-lg w-f-md" id="bjax-target">
  <h3 *ngIf="currentCategoryId && currentGenreId" class="zm-section-title title is-1 ">
    <!-- Nhạc Việt Nam -->
    {{ currentCategoryName }}
    <span *ngIf="currentGenreId !== 0"> > {{  currentGenreName }}</span>
  </h3>
  <h3 *ngIf="currentKeyword" class="zm-section-title title is-1 ">
    Kết quả tìm kiếm: {{ currentKeyword }}
  </h3>
  <a (click)="onLoadMore()" *ngIf="currentKeyword && tracks.length > 30" class="btn-load-more">
    Xem thêm
  </a>
  <div class="container">
    <mat-tab-group class="container-genre" mat-align-tabs="center" color="transparent" animationDuration="0ms"
      backgroundColor="">  
      <div *ngIf="!currentKeyword" class="mat-elevation-z4">
        <mat-tab label="Album mới" [aria-label]="'accent'">
          <div *ngIf="albums?.length !== 0 && albums !== null">
            <div style="display: inline-block" class="zm-carousel-wrapper ">
              <div class="zm-carousel ">
                <div class="zm-carousel__container " style="transform: translate3d(0px, 0px, 0px);">
                  <div
                    *ngFor="let album of albums | paginate: { id: 'albumPagination', itemsPerPage: thePageSize, currentPage: thePageNumber, totalItems: theTotalElements }"
                    class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                    <div class="zm-card zm-card--artist">
                      <div class="zm-card-image ">
                        <div class="zm-actions-container ">
                          <div class="zm-box zm-actions playlist-actions ">
                            <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                              <i class="icon ic-like">
                              </i>
                              <!-- <i class="icon ic-like-full">
                                  </i> -->
                            </button>
                            <button class="zm-btn button " tabindex="0">
                              <i class="icon action-play ic-play">
                              </i>
                            </button>
                            <button class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                              <i class="icon ic-more">
                              </i>
                            </button>
  
                          </div>
                        </div>
                        <figure class="image is-48x48">
                          <img src="{{ album.imgUrl }}" alt="" class="">
                        </figure>
                      </div>
                      <div style="text-align: left !important;" class="zm-card-content">
                        <div routerLink="/album/{{ album.id }}" class="title">
                          <a class="is-ghost" style="text-align: left !important;" >
                            {{ album.name }}
                          </a>
                        </div>
                        <div class="subtitle">
                          <span *ngFor="let singer of album.singers; let index = index" class="followers">
                            {{ singer.nickName }}{{ index === album.singers.length - 1 ? '' : ',' }} &nbsp;
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-pagination">
              <pagination-controls id="albumPagination" previousLabel="Prev" nextLabel="Next" (pageChange)="changePageAlbum($event)"></pagination-controls>
            </div>
          </div>
         
          <div *ngIf="albums?.length === 0 || albums === null" class="no-content-box">
            <i class="icon main-icon ic-song">
            </i>
            <span class="no-content-text">Hiện không có album mới thuộc thể loại này</span>
          </div>

        </mat-tab>
      </div>
      <div *ngIf="!currentKeyword" class="mat-elevation-z4">
        <mat-tab label="Bài hát mới" [aria-label]="'accent'">
          <div *ngIf="tracks?.length !== 0">
            <div *ngFor="let track of tracks | paginate: { id: 'trackPagination', itemsPerPage: thePageSizeTrack, currentPage: thePageNumberTrack, totalItems: theTotalElementsTrack }; let index = index" style="flex-grow: 1;" class="">
              <div name="select-song" class="select-item" id="song{{ index }}" #item>
                <div class="list-item bor-b-1 media-item hide-right active ">
                  <div class="media ">
                    <div class="media-left " style="width: 50%;">
                      <div class="song-prefix mar-r-15">
                        <span class="number">
                          {{ index + 1 }}
                        </span>
                      </div>
                      <div class="song-thumb ">
                        <figure class="image is-40x40" title="Ai Ai Ai">
                          <img src="{{ defaultImage }}" width="20px" height="20px" alt="" class="">
                        </figure>
                        <div class="opacity"></div>
                        <div class="zm-actions-container">
                          <div class="zm-box zm-actions">
                              <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
                              <button (click)="playCurrentTrack(track.id)" class="zm-btn button" tabindex="0">
                                <i class="icon ic-play"></i>
                              </button>
                              <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                                <i class="icon ic-more"></i>
                              </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-info ">
                        <div class="title-wrapper ">
                          <span class="item-title title">
                            <span>
                              <span>
                                <span >{{ track.name }}</span>
                              </span>
                              <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                …
                              </span>
                            </span>
                          </span>
                        </div>
                        <div class="subtitle">
                          <span *ngFor="let singer of track.singers; let index = index" class="followers">
                            {{ singer.nickName }}{{ index === track.singers.length - 1 ? '' : ',' }} &nbsp;
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="media-content ">
                      <div routerLink="/album" class="album-info">
                        <span>
                          <span>
                            <!-- <span>Chẳng Hóa Tương Lai (Single)</span> -->
                          </span>
                          <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                        </span>
                      </div>
                    </div>
                    <div class="media-right ">
                      <div class="hover-items ">
                        <div class="level ">
                          <div class="level-item ">
                            <button title="Thêm vào danh sách phát" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                              <i class="icon ic-add-play-now"></i>
                            </button>
                          </div>
                          <div class="level-item ">
                            <button (click)="likedTrack(track.id)"
                              class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                              tabindex="0">
                              
                                <i *ngIf="appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like-full">
                                </i>
                                <i *ngIf="!appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                                
                              </button>
                          </div>
                          <div class="level-item ">
                            <button title="Phát tiếp theo" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                              <i class="icon ic-play-next"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="action-items ">
                        <div class="level ">
                          <div class="level-item ">
                            <button (click)="likedTrack(track.id)"
                            class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                            tabindex="0">
                            
                              <i title="Thêm vào danh sách yêu thích" *ngIf="appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like-full">
                              </i>
                              <i title="Xóa khỏi danh sách yêu thích" *ngIf="!appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like">
                              </i>
                              <i class="icon ic-like-full">
                              </i>
                              
                            </button>
                          </div>
                          <div class="level-item duration ">
                            {{ appUtilService.getTimeDuration(track.durationSeconds) }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-pagination">
              <pagination-controls id="trackPagination" previousLabel="Prev" nextLabel="Next" (pageChange)="changePageTrack($event)"></pagination-controls>
            </div>
          </div>
          <div *ngIf="tracks?.length === 0" class="no-content-box">
            <i class="icon main-icon ic-song">
            </i>
            <span class="no-content-text">Hiện không có bài hát mới thuộc thể loại này</span>
          </div>
        </mat-tab>
      </div>
      <div *ngIf="currentKeyword" class="mat-elevation-z4">
        <mat-tab label="Bài hát" [aria-label]="'accent'">
          <div *ngIf="tracks?.length !== 0">
            <div *ngFor="let track of tracks; let index = index" style="flex-grow: 1;" class="">
              <div name="select-song" class="select-item" id="song{{ index }}" #item>
                <div class="list-item bor-b-1 media-item hide-right active ">
                  <div class="media ">
                    <div class="media-left " style="width: 50%;">
                      <div class="song-thumb ">
                        <figure class="image is-40x40" title="Ai Ai Ai">
                          <img src="{{ defaultImage }}" alt="" class="">
                        </figure>
                        <div class="opacity"></div>
                        <div class="zm-actions-container">
                          <div class="zm-box zm-actions">
                              <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button>
                              <button (click)="playCurrentTrack(track.id)" class="zm-btn button" tabindex="0">
                                <i class="icon ic-play"></i>
                              </button>
                              <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0">
                                <i class="icon ic-more"></i>
                              </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-info ">
                        <div class="title-wrapper ">
                          <span class="item-title title">
                            <span>
                              <span>
                                <span >{{ track.name }}</span>
                              </span>
                              <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">
                                …
                              </span>
                            </span>
                          </span>
                        </div>
                        <div class="subtitle">
                          <span *ngFor="let singer of track.singers; let index = index" class="followers">
                            {{ singer.nickName }}{{ index === track.singers.length - 1 ? '' : ',' }} &nbsp;
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="media-content ">
                      <div routerLink="/album" class="album-info">
                        <span>
                          <span>
                            <!-- <span>Chẳng Hóa Tương Lai (Single)</span> -->
                          </span>
                          <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                        </span>
                      </div>
                    </div>
                    <div class="media-right ">
                      <div class="hover-items ">
                        <div class="level ">
                          <div class="level-item ">
                            <button title="Thêm vào danh sách phát" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                              <i class="icon ic-add-play-now"></i>
                            </button>
                          </div>
                          <div class="level-item ">
                            <button (click)="likedTrack(track.id)"
                              class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                              tabindex="0">
                              
                                <i *ngIf="appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like-full">
                                </i>
                                <i *ngIf="!appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like">
                                </i>
                                <i class="icon ic-like-full">
                                </i>
                                
                              </button>
                          </div>
                          <div class="level-item ">
                            <button title="Phát tiếp theo" class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                              <i class="icon ic-play-next"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="action-items ">
                        <div class="level ">
                          <div class="level-item ">
                            <button (click)="likedTrack(track.id)"
                            class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                            tabindex="0">
                            
                              <i title="Thêm vào danh sách yêu thích" *ngIf="appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like-full">
                              </i>
                              <i title="Xóa khỏi danh sách yêu thích" *ngIf="!appUserService.checkExistTrackInTrackLikedList(track.id)" class="icon ic-like">
                              </i>
                              <i class="icon ic-like-full">
                              </i>
                              
                            </button>
                          </div>
                          <div class="level-item duration ">
                            {{ appUtilService.getTimeDuration(track.durationSeconds) }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tracks?.length === 0" class="no-content-box">
            <i class="icon main-icon ic-song">
            </i>
            <span class="no-content-text">Hiện không có bài hát mới thuộc thể loại này</span>
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
  <div style="left: 170px;top: 190px;" *ngIf="" class="zm-contextmenu playlist-menu">
    <div class="menu">
      <ul class="menu-list">
        <li><button class="zm-btn button" tabindex="0"><i class="icon ic-add-play-now"></i><span>Thêm vào danh
              sách phát</span></button></li>
        <li><button class="zm-btn button" tabindex="0"><i class="icon ic-comment"></i><span>Bình
              luận</span></button></li>
        <li> <button class="zm-btn button" tabindex="0"><i class="icon ic-download"></i><span>Tải
              xuống</span></button></li>
        <li><button class="zm-btn button" tabindex="0"><i class="icon ic-link"></i><span>Sao chép
              link</span></button></li>
        <li>
          <div class="menu-list--submenu"><button class="zm-btn button" tabindex="0"><i
                class="icon ic-share"></i><span>Chia sẻ</span><i class="icon ic-go-right"></i></button></div>
        </li>
      </ul>
    </div>
  </div>
</section>
