.container-playlist {
  height: 100vh;
  width: 330px;
  background-color: #120822;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(25, 255, 255, 0.05);
  border: none;
}
.player-queue__scroll {
  flex: 1 1;
}
.player-queue__list {
  position: relative;
  padding: 0 8px 15px;
}
.media-item {
  border-radius: 4px;
}
.player-queue .media {
  padding: 8px;
}
.media {
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.player-queue .media.is-pre .media-left,
.player-queue .media.is-pre .media-right {
  opacity: 0.5;
}
.media-item.full-left .media-left {
  flex-grow: 1;
  flex-shrink: 1;
}
.media-item .media-left {
  display: flex;
  width: 100%;
}
.media-left {
  margin-right: 10px;
}
.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.player-queue .media .media-left .song-thumb {
  width: 40px;
  height: 40px;
}
.media-item .media-left .song-thumb {
  margin-right: 10px;
  flex-shrink: 0;
}
.media-left .song-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.is-40x40 {
  width: 40px;
  height: 40px;
}
figure {
  background-color: hsla(0, 0%, 100%, 0.1);
}
img,
video {
  height: auto;
  width: 100%;
}
.zm-actions-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.zm-actions {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  z-index: 98;
  transform: translateX(-50%) translateY(-50%);
  display: -moz-flex;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  visibility: hidden;
  width: 80%;
}
.media-item .media-left .song-thumb .zm-btn {
  font-size: 18px;
  line-height: 0;
  height: 18px;
}
.player-queue .media .zm-btn {
  padding: 0;
  color: #fff;
}
.zm-btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  word-break: normal;
}
.zm-actions .icon {
  color: #fff;
}
.zm-tooltip-btn .icon {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
}
.zm-tooltip-btn .icon {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
}
.animation-like.active .icon:last-child {
  opacity: 0;
  visibility: visible;
  transform: translateY(-80px);
  pointer-events: none;
}
.animation-like .icon:last-child {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
}
.icon.ic-like-full {
  color: #7200a1 !important;
}
.media-left .song-thumb.card-info {
  overflow: hidden;
}
.media .card-info {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.media-item .media-left .title-wrapper {
  max-width: 100%;
}
.title-wrapper {
  display: flex;
  align-items: center;
}
.media-item .media-left .title-wrapper .title {
  display: flex;
  align-items: center;
  flex: 1 1;
}
.title-wrapper .title {
  line-height: 1.3;
  text-transform: none;
}
.media .subtitle,
.media .title,
.media .title a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  line-height: normal;
}
.media .title {
  font-weight: 500;
  vertical-align: top;
}
.media-item .media-left .subtitle {
  line-height: 1.33;
}
.media .subtitle {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}
.media .subtitle,
.media .title,
.media .title a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  line-height: normal;
}
.subtitle {
  color: hsla(0, 0%, 100%, 0.5);
}
.subtitle.is-one-line a {
  color: hsla(0, 0%, 100%, 0.5);
}
.is-truncate .is-ghost {
  display: inline-block;
}
a,
a.active,
a:hover {
  text-decoration: none;
}
.player-queue .media.is-pre .media-left,
.player-queue .media.is-pre .media-right {
  opacity: 0.5;
}
.media-right {
  margin-left: 10px;
}
.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.player-queue__list .next-songs .title {
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 0;
}
.player-queue__list .next-songs {
  padding: 15px 8px 5px;
}
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.media-right .hover-items {
  display: none;
  /* opacity: 0; */
}

.media-item .media-right .duration {
  font-size: 12px;
  width: 46px;
  color: hsla(0, 0%, 100%, 0.5);
}

.media-item .media-right .is-hover-circle {
  line-height: 0;
  padding: 6px;
  margin: 0 4px;
}

.media-item.hide-right .media-right .action-items .ic-like {
  display: none;
}

.media-item.active .media-right .icon {
  color: #fff;
}

.media-item .media-right .icon.ic-mv {
  font-size: 18px;
}
.media-item.active,
.media-item.focus,
.media-item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.player-queue .media.is-show-menu,
.player-queue .media:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.player-queue .media.is-pre:hover .media-left {
  opacity: 1;
}
.player-queue .media.is-pre:hover .media-right .hover-items {
  display: flex;
}
.level {
  display: flex;
}
.level .level-item:not(.is-narrow) {
  flex-grow: 1;
}
.level .level-item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0;
}
.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
.media-item .media-right .is-hover-circle {
  line-height: 0;
  padding: 6px;
  margin: 0 4px;
}
.ic-more:before {
  content: "\4a";
}
.ic-like:before {
  content: "\3b";
}
.ic-like-full:before {
  content: "\3c";
}
.song-list-select .select-header .actions #select-menu-id .zm-contextmenu {
  z-index: 98;
}
.zm-contextmenu {
  background-color: #432275;
  border-radius: 8px;
  position: absolute;
  z-index: 101;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 250px;
}
.song-menu {
  top: 50px;
  width: 280px;
  right: 50px;
  z-index: 2;
  position: absolute;
}

li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.menu-list li button {
  color: #dadada !important;
}

.menu-list--submenu {
  position: relative;
}

.menu-list li .zm-btn {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 100%;
  padding: 10px 20px 10px 14px;
  font-size: 14px;
  line-height: normal;
}

.ic-16-Add:before {
  content: "\ea09";
}

.ic-go-right:before {
  content: "\41";
}

.menu-list--submenu .submenu-content {
  position: absolute;
  width: 230px;
  background-color: #432275;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  left: calc(100% + 1px);
  top: 0px;
  z-index: 1;
  padding: 10px 0;
}

.add-playlist-content .menu-list {
  padding: 0;
}

.add-playlist-content .menu-list .search-box {
  padding: 0 15px;
  background-color: transparent;
}

.add-playlist-content .menu-list .search-box .input {
  height: 35px;
  font-size: 14px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
  border-radius: 999px;
  padding: 0 15px;
}

.menu-list li .zm-btn .icon.ic-go-right {
  margin-left: auto;
}

.menu-list li:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.submenu-content {
  visibility: hidden;
}
.menu-list--submenu .submenu-content {
  position: absolute;
  width: 230px;
  background-color: #432275;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  left: calc(100% + 1px);
  top: 0px;
  z-index: 1;
  padding: 10px 0;
}

.add-playlist-content .menu-list {
  padding: 0;
}

.add-playlist-content .menu-list .search-box {
  padding: 0 15px;
  background-color: transparent;
}

.add-playlist-content .menu-list .search-box .input {
  height: 35px;
  font-size: 14px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
  border-radius: 999px;
  padding: 0 15px;
}

.menu-list li .zm-btn .icon.ic-go-right {
  margin-left: auto;
}

.menu-list li:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.menu-list li:hover .submenu-content {
  visibility: visible !important;
}
.media.song-info-menu {
  padding: 15px 15px 0;
}
.media.song-info-menu .media-left {
  margin-right: 10px;
}
.media.song-info-menu .media-left .image {
  border-radius: 4px;
  overflow: hidden;
}
.is-w-150 {
  width: 100%;
}
.media.song-info-menu .media-content .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.title-wrapper .title {
  line-height: 1.3;
  text-transform: none;
}

.input-name-playlist:focus-visible {
  outline: none;
}

img,
video {
  height: auto;
  width: 100%;
}
.group-button-menu {
  margin: 15px 0 10px;
  padding: 0 15px;
}
.group-button-menu .group-button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  line-height: 1.5;
}
.group-button-menu .group-button-list .zm-btn {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 10px;
  max-width: 80px;
  line-height: 14px;
}
.group-button-menu .group-button-list .zm-btn .icon {
  font-size: 16px;
  margin-bottom: 4px;
}
.ic-16-Lyric:before {
  content: "\ea07";
}
.ic-denial:before {
  content: "\74";
}
.ic-play-next:before {
  content: "\52";
}
.ic-view:before {
  content: "\e007";
}

.ic-16-Add:before {
  content: "\ea09";
}
.media.song-info-menu .song-stats .stat-item .icon {
  font-size: 14px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.media.song-info-menu .song-stats .stat-item {
  margin-right: 10px;
}
.media.song-info-menu .song-stats {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #a0a0a0;
}

.ic-comment:before {
  content: "\71";
}

.ic-download:before {
  content: "\67";
}

.ic-link:before {
  content: "\48";
}

.ic-share:before {
  content: "\2c";
}

.ic-add-play-now:before {
  content: "\e010";
}
.title-wrapper .icon {
  flex-shrink: 0;
  margin-left: 8px;
}
.menu-list li .zm-btn .icon:first-child {
  margin-right: 15px;
}

.add-playlist-content .menu-list .button .icon.ic-svg-add {
  border-radius: 2px;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.menu-list li .zm-btn .icon:first-child {
  margin-right: 15px;
}
.menu-list li .zm-btn .icon {
  padding: 0;
  font-size: 16px;
}
.icon.ic-svg-add {
  background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v1.5.11/static/media/thumb-add.2971eb21.svg);
}
.icon.z-ic-svg {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.ic-list-music:before {
  content: "\49";
}
.add-playlist-content .playlist-container {
  position: relative;
}

.add-playlist-content .playlist-container .top-shadow {
  top: 0;
  transform: translateY(-10px);
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
}
.add-playlist-content .playlist-container .bot-shadow,
.add-playlist-content .playlist-container .top-shadow {
  position: absolute;
  height: 10px;
  width: 100%;
  opacity: 0;
}

.add-playlist-content .playlist-container .content {
  height: 185px;
  overflow-x: hidden;
}
