<div class="container-playlist">
  <mat-tab-group mat-align-tabs="center" color="transparent" animationDuration="0ms"
    backgroundColor="">
    <div class="mat-elevation-z4">
      <mat-tab label="Danh sách phát" [aria-label]="'accent'">
        <div class="player-queue__scroll">
            <div tabindex="0" style="position: relative; overflow: hidden; width: 100%; height: 100vh;">
                <div id="queue-scroll" style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                    <div style="top: 0px; position: absolute; height: 100vh; width: 100%;">
                        <div class="player-queue__list undefined" style="margin-top: 0px;">
                            <div index="0" data-index="0" data-known-size="56" style="z-index: 1065;">
                                <div class="list-item media-item full-left">
                                    <div class="media is-active">
                                        <div class="media-left">
                                            <div class="song-thumb">
                                                <figure class="image is-40x40" title="{{ currentTrack?.name }}"><img style="width: 40px; height: 40px" src="{{ imageTrack(currentTrack) }}" alt="" /></figure>
                                                <div class="opacity" style="width: 40px; height: 40px"></div>
                                                <div class="zm-actions-container">
                                                    <div class="zm-box" style="margin: 10px">
                                                      <button class="zm-btn action-play button" tabindex="0"><i class="icon action-play ic-gif-playing-white"></i></button>
                                                        <!-- <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button> -->
                                                        <!-- <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0"><i class="icon ic-more"></i></button> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <div routerLink="/single/{{ currentTrack?.id }}" class="title-wrapper">
                                                    <span class="item-title title">
                                                        <span>
                                                            <span><span>{{ currentTrack?.name }}</span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <h3 class="is-one-line is-truncate subtitle">
                                                  <a *ngFor="let singer of currentTrack?.singers; let index = index" class="is-ghost" routerLink="/profile/{{ singer.id }}">
                                                    {{ singer.nickName }}{{ index === currentTrack?.singers.length - 1 ? '' : ',' }} &nbsp;
                                                  </a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="media-right ">
                                            <div class="hover-items ">
                                              <div class="level ">
                                                <div class="level-item ">
                                                  <button class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                                    <i class="icon ic-karaoke">
                                                    </i>
                                                  </button>
                                                </div>
                                                <!-- <div class="level-item ">
                                                  <button
                                                    class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                                    tabindex="0">
                                                    <i class="icon ic-like">
                                                    </i>
                                                    <i class="icon ic-like-full">
                                                    </i>
                                                  </button>
                                                </div> -->
                                                <div class="level-item ">
                                                  <!-- <button class="zm-btn zm-tooltip-btn button" title="Phát tiếp theo" tabindex="0"><i
                                                    class="icon ic-play-next"></i>
                                                  </button> -->
                                                  <button (click)="removeTrackFromCurrentPlaylist(currentTrack)" class="zm-btn zm-tooltip-btn button" title="Xóa khỏi danh sách phát" tabindex="0">
                                                    <i class="icon ic-delete"></i>
                                                  </button>
                                                  <!-- <button (click)="openChooseOptionSong(currentIndex)"
                                                    class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                                    <i class="icon ic-more">
                                                    </i>
                                                  </button> -->

                                                  <!-- <div *ngIf="chooseOptionSong[currentIndex]" class="zm-contextmenu song-menu">
                                                    <div class="menu">
                                                      <ul class="menu-list">
                                                        <div class="menu-list--submenu">
                                                          <div class="media song-info-menu" style="background: transparent !important;">
                                                            <div class="media-left">
                                                              <figure class="image is-40x40">
                                                                <img
                                                                  src="{{ imageTrack(currentTrack) }}"
                                                                  alt="">
                                                                </figure>
                                                            </div>
                                                            <div class="is-w-150 media-content">
                                                              <a>
                                                                <div class="title-wrapper"><span
                                                                    class="item-title title"><span><span><span>{{ currentTrack.name }}</span></span><span
                                                                        style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></span>
                                                                </div>
                                                              </a>
                                                              <div class="song-stats">
                                                                <div class="stat-item">
                                                                  <i class="icon ic-like"></i><span>{{ currentTrack.liked }}</span>
                                                                </div>
                                                                <div class="stat-item">
                                                                  <i class="icon ic-view"></i><span>{{ currentTrack.listened }}</span>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </ul>
                                                      <ul class="menu-list">
                                                        <div class="group-button-menu">
                                                          <div class="group-button-list">
                                                            <button class="zm-btn button">
                                                              <i class="icon ic-download"></i><span>Tải xuống</span>
                                                            </button>
                                                            <button class="zm-btn button" tabindex="0">
                                                              <i class="icon ic-16-Lyric"></i><span>Lời bài hát</span>
                                                            </button>
                                                            <span class="zm-btn button">
                                                              <i class="icon ic-denial"></i><span>Chặn</span>
                                                            </span>
                                                          </div>
                                                        </div>
                                                      </ul>
                                                      <ul class="menu-list">
                                                        <li><button class="zm-btn button" tabindex="0"><i
                                                              class="icon ic-play-next"></i><span>Phát tiếp theo</span></button></li>
                                                        <li></li>
                                                        <li>
                                                          <div class="menu-list--submenu">
                                                            <button class="zm-btn button" tabindex="0">
                                                              <i class="icon ic-16-Add"></i><span>Thêm vào playlist</span>
                                                              <i class="icon ic-go-right"></i>
                                                            </button>
                                                            <div style="left: 20px; top: -100px;"
                                                              class="menu add-playlist-content submenu-content">
                                                              <ul class="menu-list">
                                                                <li class="search-box">
                                                                  <input class="input" placeholder="Tìm playlist">
                                                                </li>
                                                                <li class="mar-t-10">
                                                                  <button mat-button (click)="openAddNewPlaylist()" class="zm-btn button"
                                                                    tabindex="0">
                                                                    <i class="icon ic- z-ic-svg ic-svg-add"></i><span>Tạo playlist
                                                                      mới</span>
                                                                  </button>
                                                                </li>
                                                              </ul>
                                                              <div class="playlist-container">
                                                                <div class="top-shadow"></div>
                                                                <div class="content">
                                                                  <div
                                                                    style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                                                    <div
                                                                      style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                                                      <ul class="menu-list">
                                                                        <li>
                                                                          <button class="zm-btn button" tabindex="0"><i
                                                                              class="icon ic-list-music"></i><span>aaa</span>
                                                                          </button>
                                                                        </li>
                                                                      </ul>
                                                                    </div>
                                                                    <div class="track-horizontal"
                                                                      style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                                                                      <div
                                                                        style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                                                                      </div>
                                                                    </div>
                                                                    <div class="track-vertical"
                                                                      style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                                                                      <div class="thumb-vertical"
                                                                        style="position: relative; display: block; width: 100%; height: 0px;">
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div> -->
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                                <div class="next-songs"><h3 class="title is-6">Tiếp theo</h3></div>
                            </div>
                            <div class="next-track-list">
                              <div *ngFor="let playlistDetail of currentPlaylist?.playlistDetails; let idx = index" index="1" data-index="1" data-known-size="56" style="z-index: 1065;">
                                <div *ngIf="playlistDetail.track.name !== currentTrack.name" class="list-item media-item full-left">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="song-thumb">
                                                <figure class="image is-40x40" title="{{ playlistDetail.track.name }}"><img src="{{ imageTrack(playlistDetail.track) }}" style="width: 40px; height: 40px" alt="" /></figure>
                                                <div class="opacity"></div>
                                                <div class="zm-actions-container">
                                                    <div class="zm-box zm-actions">
                                                        <!-- <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button" tabindex="0"><i class="icon ic-like"></i><i class="icon ic-like-full"></i></button> -->
                                                        <button (click)="playCurrentTrack(playlistDetail.track.id)" class="zm-btn action-play button" tabindex="0"><i class="icon action-play ic-play"></i></button>
                                                        <!-- <button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button" tabindex="0"><i class="icon ic-more"></i></button> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-info">
                                                <div routerLink="/single/{{ playlistDetail.track.id }}" class="title-wrapper">
                                                    <span class="item-title title">
                                                        <span>
                                                            <span><span>{{ playlistDetail.track.name }}</span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <h3 class="is-one-line is-truncate subtitle">
                                                  <a *ngFor="let singer of playlistDetail.track?.singers; let index = index" class="is-ghost" routerLink="/profile/{{ singer.id }}">
                                                    {{ singer.nickName }}{{ index === playlistDetail.track?.singers.length - 1 ? '' : ',' }} &nbsp;
                                                  </a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="media-right ">
                                            <div class="hover-items ">
                                              <div class="level ">
                                                <div class="level-item ">
                                                  <button class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                                    <i class="icon ic-karaoke">
                                                    </i>
                                                  </button>
                                                </div>
                                                <div class="level-item ">
                                                  <!-- <button
                                                    class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                                    tabindex="0">
                                                    <i class="icon ic-like">
                                                    </i>
                                                    <i class="icon ic-like-full">
                                                    </i>
                                                  </button> -->
                                                  <button (click)="playNextCurrentTrack(playlistDetail?.track.id)" class="zm-btn zm-tooltip-btn button" title="Phát tiếp theo" tabindex="0"><i
                                                    class="icon ic-play-next"></i>
                                                  </button>
                                                  
                                                </div>
                                                <div class="level-item ">
                                                  <button (click)="removeTrackFromCurrentPlaylist(playlistDetail?.track)" class="zm-btn zm-tooltip-btn button" title="Xóa khỏi danh sách phát" tabindex="0">
                                                    <i class="icon ic-delete"></i>
                                                  </button>
                                                  <!-- <button (click)="openChooseOptionSong(idx)"
                                                    class="zm-btn zm-tooltip-btn is-hover-circle button " tabindex="0">
                                                    <i class="icon ic-more">
                                                    </i>
                                                  </button> -->
                                                  <!-- <div *ngIf="chooseOptionSong[idx]" class="zm-contextmenu song-menu">
                                                    <div class="menu">
                                                      <ul class="menu-list">
                                                        <div class="menu-list--submenu">
                                                          <div class="media song-info-menu" style="background: transparent !important;">
                                                            <div class="media-left">
                                                              <figure class="image is-40x40"><img
                                                                  src="{{ imageTrack(playlistDetail.track) }}"
                                                                  alt=""></figure>
                                                            </div>
                                                            <div class="is-w-150 media-content">
                                                              <a>
                                                                <div class="title-wrapper"><span
                                                                    class="item-title title"><span><span><span>{{ playlistDetail.track.name }}</span></span><span
                                                                        style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></span>
                                                                </div>
                                                              </a>
                                                              <div class="song-stats">
                                                                <div class="stat-item">
                                                                  <i class="icon ic-like"></i><span>{{ playlistDetail.track.liked }}</span>
                                                                </div>
                                                                <div class="stat-item">
                                                                  <i class="icon ic-view"></i><span>{{ playlistDetail.track.listened }}</span>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </ul>
                                                      <ul class="menu-list">
                                                        <div class="group-button-menu">
                                                          <div class="group-button-list">
                                                            <button class="zm-btn button">
                                                              <i class="icon ic-download"></i><span>Tải xuống</span>
                                                            </button>
                                                            <button class="zm-btn button" tabindex="0">
                                                              <i class="icon ic-16-Lyric"></i><span>Lời bài hát</span>
                                                            </button>
                                                            <span class="zm-btn button">
                                                              <i class="icon ic-denial"></i><span>Chặn</span>
                                                            </span>
                                                          </div>
                                                        </div>
                                                      </ul>
                                                      <ul class="menu-list">
                                                        
                                                        <li><button class="zm-btn button" tabindex="0"><i
                                                              class="icon ic-play-next"></i><span>Phát tiếp theo</span></button></li>
                                                        <li></li>
                                                        <li>
                                                          <div class="menu-list--submenu">
                                                            <button class="zm-btn button" tabindex="0">
                                                              <i class="icon ic-16-Add"></i><span>Thêm vào playlist</span>
                                                              <i class="icon ic-go-right"></i>
                                                            </button>
                                                            <div style="left: 20px; top: -100px;"
                                                              class="menu add-playlist-content submenu-content">
                                                              <ul class="menu-list">
                                                                <li class="search-box">
                                                                  <input class="input" placeholder="Tìm playlist">
                                                                </li>
                                                                <li class="mar-t-10">
                                                                  <button mat-button (click)="openAddNewPlaylist()" class="zm-btn button"
                                                                    tabindex="0">
                                                                    <i class="icon ic- z-ic-svg ic-svg-add"></i><span>Tạo playlist
                                                                      mới</span>
                                                                  </button>
                                                                </li>
                                                              </ul>
                                                              <div class="playlist-container">
                                                                <div class="top-shadow"></div>
                                                                <div class="content">
                                                                  <div
                                                                    style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                                                                    <div
                                                                      style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
                                                                      <ul class="menu-list">
                                                                        <li>
                                                                          <button class="zm-btn button" tabindex="0"><i
                                                                              class="icon ic-list-music"></i><span>aaa</span>
                                                                          </button>
                                                                        </li>
                                                                      </ul>
                                                                    </div>
                                                                    <div class="track-horizontal"
                                                                      style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                                                                      <div
                                                                        style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;">
                                                                      </div>
                                                                    </div>
                                                                    <div class="track-vertical"
                                                                      style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                                                                      <div class="thumb-vertical"
                                                                        style="position: relative; display: block; width: 100%; height: 0px;">
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div> -->
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>  
                            </div>
                            
                        </div>
                    </div>
                    <div style="height: 209px; position: absolute; top: 0px;">&nbsp;</div>
                </div>
                <div class="track-horizontal" style="position: absolute; height: 6px; transition: opacity 200ms ease 0s; opacity: 0;">
                    <div style="position: relative; display: block; height: 100%; cursor: pointer; border-radius: inherit; background-color: rgba(0, 0, 0, 0.2); width: 0px;"></div>
                </div>
                <div class="track-vertical" style="position: absolute; width: 4px; transition: opacity 200ms ease 0s; opacity: 0; right: 2px; top: 2px; bottom: 2px; z-index: 100;">
                    <div class="thumb-vertical" style="position: relative; display: block; width: 100%; height: 0px;"></div>
                </div>
            </div>
        </div>
        
      </mat-tab>
    </div>
    <div class="mat-elevation-z4">
      <mat-tab label="Nghe gần đây" [aria-label]="'accent'">
      </mat-tab>
    </div>
  </mat-tab-group>
</div>
