.scrollable {
  width: 87%;
  padding: 0px 50px;
}

p .title {
  pointer-events: none !important;
}

.subtitle {
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0px;
}
.btn-add-new-playlist {
  color: #fff;
  text-align: center;
  border: #7200a1;
  background-color: #7200a1;
  width: 290px;
  height: 40px;
  margin-top: 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn-add-new-playlist[disabled] {
  box-shadow: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -2px;
  /* bottom: 0.5px; */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7200a1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7200a1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.add-playlist {
  color: white !important;
  margin: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.input-name-playlist {
  border-radius: 25px;
  padding: 0 15px;
  color: #fff;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 290px;
  height: 40px;
  margin-bottom: 10px;
}

.btn-close {
  /* float: right; */
  margin-left: 270px;
  margin-top: -20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

iframe {
  border: none;
}

.input-name-playlist:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  flex-grow: 1;
  margin: 30px 0px;
  position: relative;
  width: 100%;
}
/* 
.container {
  min-height: calc(100% - 158px);
  margin-top: 30px;
  margin-bottom: 200px;
} */

.zm-box {
  display: block;
}

.zm-mainpage {
  flex-grow: 1;
  position: relative;
  width: calc(100% - 570px);
  min-height: 100%;
}

@media screen and (max-width: 1133px) {
  .zm-mainpage {
    margin-left: 70px;
  }
}

.zm-layout {
  display: -moz-flex;
  display: flex;
  width: 100%;
  min-width: 768px;
  height: 100vh;
  background-color: #1e1e1e;
}

.zm-layout.has-player {
  height: calc(100vh - 90px);
}

.library-song-list .song-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

h3 {
  font-weight: 700;
}

h3 {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
  text-transform: capitalize;
  display: block;
}

.title a {
  color: #fff;
  text-decoration: none !important;
}

.mar-0 {
  margin: 0 !important;
}

h3.title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.title.is-2 {
  font-size: 20px;
}

.is-center {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.media {
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
}

.song-list-select .select-header {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  height: 46px;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  word-break: normal;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  word-break: normal;
}

button {
  user-select: none;
}

.zm-btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.is-upper {
  text-transform: uppercase;
}

.zm-btn.is-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #fff;
  margin: 0 auto;
}

.zm-btn.is-small {
  font-size: 12px;
  padding: 6px 19px;
}

.zm-btn.is-outlined.active {
  background-color: #7200a1;
  border-color: #7200a1;
  color: white;
}

.zm-btn.active:hover,
.zm-btn:hover {
  filter: brightness(0.9);
}

.media-left {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.media-left {
  margin-right: 10px;
}

.song-list-select .select-header .media-left {
  width: 50%;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
  width: 0;
}

.song-list-select .select-header .media-content {
  margin-left: -10px;
}

.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.media-right {
  margin-left: 10px;
}

.song-list-select .select-item {
  display: flex;
  position: relative;
}

.mar-r-15 {
  margin-right: 15px !important;
  margin-right: 15px !important;
}

.zm-btn:hover {
  filter: brightness(0.9);
  filter: brightness(0.9);
}

.icon {
  line-height: 66%;
  display: inline-block;
  line-height: 66%;
  display: inline-block;
}

.ic-edit:before {
  content: "\33";
  content: "3";
}

.zm-btn.is-small .icon {
  font-size: 14px;
  margin-right: 5px;
  font-size: 14px;
  margin-right: 5px;
}
.ic-play:before {
  content: "\5e";
  content: "^";
}
.ic-close:before {
  content: "\6f";
}
.icon.ic-svg-play-circle {
  background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v1.5.11/static/media/play.81e7696e.svg);
}

.song-list-select .select-header .sort-wrapper {
  display: flex;
  align-items: center;
}

.mar-l-10 {
  margin-left: 10px !important;
}

.song-list-select .select-header .column-text {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.5);
}

.song-list-select .select-item .checkbox-wrapper {
  cursor: pointer;
  position: absolute;
  width: 34px;
  height: 34px;
  display: none;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  top: 50%;
}

.media-item {
  border-radius: 4px;
}

.bor-b-1 {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
}

.list-border .list-item {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
}

/* .media-item.active {
    background-color: hsla(0, 0%, 100%, 0.1);
  } */

.song-list-select .select-item .media-item {
  max-width: 100%;
  flex-grow: 1;
}

.card {
  /* margin-left: 40%; */
  text-align: center;
  padding-top: 50px;
  margin-top: -40px;
}

.bg-img {
  background-position: 50%;
  opacity: 0.6;
  background-image: url(https://s120-ava-talk.zadn.vn/a/f/8/e/8/120/b460fa6….jpg);
  background-position: 50%;
  background-size: cover;
  filter: blur(120px);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  z-index: -1;
}

.parent-div {
  position: relative;
  height: 40vh;
}

.card .avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* .media-item.active,
  .media-item:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  } */

.media-item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.ic-upload:before {
  content: "\21";
  content: "!";
}

.zm-dropdown {
  position: relative;
}

.mar-r-10 {
  margin-right: 10px !important;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.checkbox {
  line-height: 1.25;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.checkbox {
  cursor: pointer;
  position: relative;
}

.song-list-select .select-item .checkbox {
  justify-content: center;
  align-items: center;
}

.song-list-select .select-header .sort-wrapper .zm-dropdown-trigger-btn {
  line-height: 1;
}

.zm-dropdown .zm-dropdown-content {
  opacity: 0;
  visibility: hidden;
  padding: 5px;
  border-radius: 8px;
  background-color: #432275;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
  position: absolute;
  z-index: 99;
  top: calc(100% + 10px);
  left: 0;
}

.zm-dropdown .zm-dropdown-content:before {
  content: "";
  clear: both;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #432275;
  position: absolute;
  left: 15px;
  top: -8px;
}

.song-list-select .select-header .sort-wrapper .zm-dropdown-content:before {
  left: 6px;
}

.checkbox input {
  cursor: pointer;
  position: relative;
}

.checkbox input {
  appearance: none;
  border-radius: 999px;
  border: 1px solid #a0a0a0;
  padding: 8px;
  margin-right: 6px;
}

.song-list-select .checkbox input {
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
  margin: 0;
  padding: 6px;
}

.media-item .media-left {
  display: flex;
}

.song-list-select .select-header .sort-wrapper .zm-btn {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.5);
}

.zm-dropdown-list-item {
  font-size: 12px;
  border-radius: 4px;
  line-height: 1;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.zm-dropdown-list-item:hover {
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.song-prefix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-item .media-left .song-prefix {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 10px;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 700;
}

.media-left .song-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.media-item .media-left .song-thumb {
  margin-right: 10px;
  flex-shrink: 0;
}

.media .card-info {
  display: -moz-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.media-left .song-thumb + .card-info {
  overflow: hidden;
}

.media-item .album-info {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.media-item.hide-right .media-right .hover-items {
  display: none;
}

.ic-24-Sort:before {
  content: "\e9b2";
}

.song-list-select .select-item .media-item .song-prefix .icon {
  font-size: 14px;
}

.ic-song:before {
  content: "\e004";
}

figure {
  margin: 0;
  padding: 0;
}

.is-40x40 {
  width: 40px;
  height: 40px;
}

.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.media .opacity {
  visibility: hidden;
}
.media-item.active .opacity {
  visibility: visible;
}

.zm-actions-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.media-item .media-left .title-wrapper {
  max-width: 100%;
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.5);
}

.subtitle.is-one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.media .subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  line-height: normal;
}

.media .subtitle {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.media-item .media-left .subtitle {
  line-height: 1.33;
}

.media-item .album-info > span {
  cursor: pointer;
}

span:hover {
  color: #c662ef;
  text-decoration: none;
  cursor: pointer;
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  height: auto;
  width: 100%;
}

.zm-actions {
  position: absolute;
  left: 50%;
  top: 40%;
  bottom: auto;
  right: auto;
  z-index: 98;
  transform: translateX(-50%) translateY(-50%);
  display: -moz-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  width: 80%;
}

.media-item.active .zm-actions {
  visibility: visible;
}

.media .title {
  font-weight: 500;
  vertical-align: top;
}

.media .title {
  display: inline-block;
}

.media .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  line-height: normal;
}

.title-wrapper .title {
  line-height: 1.3;
  text-transform: none;
}

.media-item .media-left .title-wrapper .title {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.is-truncate .is-ghost {
  display: inline-block;
}

.subtitle.is-one-line a {
  color: hsla(0, 0%, 100%, 0.5);
}

.is-ghost:hover {
  text-decoration: none;
  color: #c662ef;
}

a:hover {
  color: #c662ef;
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.level .level-item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0;
}

.level .level-item:not(.is-narrow) {
  flex-grow: 1;
}

.media-item .media-right .duration {
  font-size: 12px;
  width: 46px;
  color: hsla(0, 0%, 100%, 0.5);
}

.subtitle .artist-names {
  color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
}

.zm-actions .zm-tooltip-btn {
  font-size: 20px;
}

.media-item .media-left .song-thumb .zm-btn {
  font-size: 18px;
  line-height: 0;
  height: 18px;
}

.media-item .media-right .is-hover-circle {
  line-height: 0;
  padding: 6px;
  margin: 0 4px;
}

.is-hover-circle:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.title-wrapper .icon {
  flex-shrink: 0;
  margin-left: 8px;
}

.ic-private:before {
  content: "\57";
  content: "W";
}

.subtitle .artist-names span {
  display: inline-block;
}

.is-spotlight .icon {
  font-size: 10px;
  margin-left: 2px;
  display: inline;
}

.ic-star:before {
  content: "\e005";
  content: "";
}

.zm-tooltip-btn .icon {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  font-size: 16px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.zm-actions .icon {
  color: white;
}

.ic-like:before {
  content: "\3b";
  content: ";";
}

.icon.ic-like-full {
  color: #7200a1 !important;
  color: #7200a1 !important;
}

.animation-like .icon:last-child {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 1;
}

.animation-like.active .icon:last-child {
  opacity: 0;
  visibility: visible;
  transform: translateY(-80px);
  pointer-events: none;
}

.ic-like-full:before {
  content: "\3c";
  content: "<";
}

.ic-more:before {
  content: "\4a";
  content: "J";
}

.media-item .media-right .icon {
  color: hsla(0, 0%, 100%, 0.5);
}

.media-item.active .media-right .icon {
  color: #fff;
}

.ic-karaoke:before {
  content: "\46";
  content: "F";
}

.animation-like.done .icon:last-child {
  transition: none;
  visibility: hidden;
}

.media-item .media-right .icon.ic-mv {
  font-size: 18px;
  font-size: 18px;
}

.ic-mv:before {
  content: "\4b";
  content: "K";
}

.columns {
  display: -moz-flex;
  display: flex;
  box-lines: multiple;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -15px;
}

.column {
  display: block;
  flex-shrink: 1;
  padding: 0 15px;
}

.mar-b-30 {
  margin-bottom: 30px !important;
}

.is-desktop-3,
.is-fullhd-20,
.is-tablet-3,
.is-touch-3,
.is-widescreen-20 {
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
}
.is-fullhd-20 {
  width: 20%;
}

@media screen and (min-width: 1350px) and (max-width: 1637px) {
  .is-widescreen-20 {
    width: 20%;
  }
}

.empty-playlist {
  width: 100%;
  height: 100%;
  min-height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: linear-gradient(
    33deg,
    rgb(90, 30, 174) -7%,
    rgb(206, 38, 122) 117%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.icon {
  line-height: 66%;
  display: inline-block;
  line-height: 66%;
  display: inline-block;
}

.empty-playlist .icon {
  font-size: 47px;
  margin-bottom: 15px;
  font-size: 47px;
  margin-bottom: 15px;
}

.ic-add:before {
  content: "\62";
  content: "b";
}

.zm-card {
  max-width: 100%;
  position: relative;
  max-width: 100%;
  position: relative;
}

a {
  cursor: pointer;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  cursor: pointer;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a,
a:hover {
  text-decoration: none;
}

h4 {
  font-weight: 700;
  font-weight: 700;
}

h4 {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

h4 {
  font-size: 100%;
  font-weight: 400;
  font-size: 100%;
  font-weight: 400;
}

.library-playlist-item .zm-card-content .title {
  text-transform: none;
  text-transform: none;
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.5);
}

.zm-card-content .subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.library-playlist-item .subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
}

.zm-card-content .title a {
  display: -webkit-box;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  margin: 8px 0 4px;
}

.library-playlist-item .zm-card-content .title a {
  text-transform: none;
  color: #fff;
}

.zm-card-image {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  flex-shrink: 0;
}

.zm-card-image:hover {
  cursor: pointer;
  position: static;
}

.zm-card-image:hover .opacity,
.zm-card-image:hover .zm-actions {
  visibility: visible;
}

.zm-card-image:hover img {
  filter: opacity(0.5);
}

.action-play {
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
}

.user-playlist-detail {
  padding-top: 20px;
}

.pad-t-20 {
  padding-top: 20px !important;
}

.zm-carousel-control-prev {
  border: 0;
  width: 26px;
  height: 26px;
  border-radius: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  left: auto;
  top: -38px;
  cursor: pointer;
}

.zm-carousel-control-prev {
  right: 45px;
}

.is-hide {
  display: none;
}

.zm-carousel-control-prev.zm-disabled {
  opacity: 0.1;
  cursor: default;
  user-select: none;
}

.zm-btn:hover {
  filter: brightness(0.9);
  color: #fff;
}

.zm-carousel-control-next {
  border: 0;
  width: 26px;
  height: 26px;
  border-radius: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  left: auto;
  top: -38px;
  cursor: pointer;
}

.zm-carousel-control-next {
  right: 0;
}

.zm-carousel-control-next.zm-disabled {
  opacity: 0.1;
  cursor: default;
  user-select: none;
}

.zm-carousel__container {
  display: flex;
  z-index: 3;
  width: 100%;
}

.zm-carousel-control-prev .icon {
  font-size: 18px;
  vertical-align: middle;
}

.ic-go-left:before {
  content: "\7a";
  content: "z";
}

.zm-carousel-control-next .icon {
  font-size: 18px;
  vertical-align: middle;
}

.ic-go-right:before {
  content: "\41";
  content: "A";
}

.zm-carousel-item {
  transition: transform 0.3s ease 0.1s;
}

.zm-carousel-item {
  position: relative;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.is-desktop-3,
.is-fullhd-20,
.is-tablet-3,
.is-touch-3,
.is-widescreen-20 {
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
  position: relative;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  float: left;
  flex-shrink: 0;
}

.is-fullhd-20 {
  width: 20%;
}

.zm-card--artist {
  text-align: center;
}

.zm-carousel-item .zm-card {
  width: 100%;
}

.is-rounded {
  overflow: hidden;
  border-radius: 999px !important;
}

.mar-t-15 {
  margin-top: 15px !important;
}

.mar-b-20 {
  margin-bottom: 20px !important;
}

.is-upper {
  text-transform: uppercase;
}

/* .zm-btn.is-small { 
    font-size: 12px; 
    padding: 6px 19px; 
    font-size: 12px; 
    padding-top: 6px; 
    padding-right: 19px; 
    padding-bottom: 6px; 
    padding-left: 19px;
  
  } 
  
  .zm-btn.active:hover,.zm-btn:hover { 
    filter: brightness(.9); 
    filter: brightness(0.9);
  } 
  
  .zm-card-image figure  { 
    line-height: 0; 
    height: 0; 
    padding-bottom: 100%; 
    border-radius: 5px; 
    overflow: hidden; 
  } 
  
  .zm-card--artist .opacity  { 
    background-color: rgba(0,0,0,0.1);     
  } 
  
  .zm-card-content .title a  { 
    display: -webkit-box; 
    font-weight: 500; 
    text-align: left; 
    text-transform: capitalize; 
    margin: 8px 0 4px; 
  }  */

.zm-card--artist .zm-card-content a {
  text-align: center;
}

.zm-card--artist .zm-card-content .title a {
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.is-ghost:hover {
  text-decoration: underline;
}

.zm-btn.is-small .icon {
  font-size: 14px;
  margin-right: 5px;
}

.ic-addfriend:before {
  content: "\68";
}

img {
  height: auto;
  width: 100%;
}

.zm-card-image img {
  transition: transform 0.7s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.animation-like .icon:last-child {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: -1;
  opacity: 1;
}

.animation-like.active .icon:last-child {
  opacity: 0;
  visibility: visible;
  transform: translateY(-80px);
  pointer-events: none;
  opacity: 0;
  visibility: visible;
  transform: translateY(-80px);
  pointer-events: none;
}

.zm-actions.artist-actions .icon.action-play {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-list-select .select-item .checkbox-wrapper {
  cursor: pointer;
  position: absolute;
  width: 34px;
  height: 34px;
  display: none;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  top: 50%;
}

.select-item:hover .checkbox-wrapper,
.is-selected .checkbox-wrapper {
  display: flex !important;
}

.select-item:hover .song-prefix {
  visibility: hidden;
}

.song-list-select .checkbox input:checked {
  background-color: hsla(0, 0%, 100%, 0.15);
}

.song-list-select .select-item.is-selected .checkbox input {
  border-color: #fff;
}

.is-selected .song-prefix {
  background-color: hsla(0, 0%, 100%, 0.15);

  visibility: hidden;
}

.is-selected .media {
  background-color: hsla(0, 0%, 100%, 0.15) !important;
}

.select-item .media {
  background-color: transparent;
}

.song-list-select .select-header .actions {
  display: flex;
  align-items: center;
}

.song-list-select .select-header .actions .add-queue-btn {
  padding: 2px 10px;
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-left: 10px;
  font-size: 10px;
}

.song-list-select .select-header .actions .action-btn {
  color: hsla(0, 0%, 100%, 0.5);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 999px;
  margin-left: 10px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-list-select .select-header .actions .more-btn {
  height: 22px;
  width: 22px;
}

.ic-add-play-now:before {
  content: "\e010";
}

.checkbox input:checked:after {
  content: " ";
  border-left-color: #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-color: #fff;
  height: 47%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%) rotate(45deg);
}

.song-list-select .select-item .media-item {
  max-width: 100%;
  flex-grow: 1;
}

.mar-t-10 {
  margin-top: 10px !important;
}

.menu-list li .zm-btn {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 100%;
  padding: 10px 20px 10px 14px;
  font-size: 14px;
  line-height: normal;
}

.add-playlist-content .menu-list .button .icon.ic-svg-add {
  border-radius: 2px;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.menu-list li .zm-btn .icon:first-child {
  margin-right: 15px;
}
.menu-list li .zm-btn .icon {
  padding: 0;
  font-size: 16px;
}
.icon.ic-svg-add {
  background-image: url(https://zjs.zadn.vn/zmp3-desktop/releases/v1.5.11/static/media/thumb-add.2971eb21.svg);
}
.icon.z-ic-svg {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-playlist-content .playlist-container {
  position: relative;
}

.add-playlist-content .playlist-container .top-shadow {
  top: 0;
  transform: translateY(-10px);
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
}
.add-playlist-content .playlist-container .bot-shadow,
.add-playlist-content .playlist-container .top-shadow {
  position: absolute;
  height: 10px;
  width: 100%;
  opacity: 0;
}

.add-playlist-content .playlist-container .content {
  height: 185px;
  overflow-x: hidden;
}

element.style {
  position: relative;
  display: block;
  width: 100%;
  height: 0px;
}

.thumb-vertical {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
}

.ic-list-music:before {
  content: "\49";
}

.ic-delete:before {
  content: "\73";
}

.song-list-select .select-header .actions #select-menu-id .zm-contextmenu {
  z-index: 98;
}
.song-list-select .select-header .actions .more-btn-wrapper .select-menu {
  position: absolute;
  left: 10px;
  top: calc(100% + 5px);
}
.zm-contextmenu {
  background-color: #432275;
  border-radius: 8px;
  position: absolute;
  z-index: 101;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 250px;
}

.song-list-select .select-header .actions .more-btn-wrapper {
  position: relative;
}

input {
  outline: none;
}

li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.menu-list li button {
  color: #dadada !important;
}

.menu-list--submenu {
  position: relative;
}

.menu-list li .zm-btn {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 100%;
  padding: 10px 20px 10px 14px;
  font-size: 14px;
  line-height: normal;
}

.ic-16-Add:before {
  content: "\ea09";
}

.ic-go-right:before {
  content: "\41";
}

.menu-list--submenu .submenu-content {
  position: absolute;
  width: 230px;
  background-color: #432275;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  left: calc(100% + 1px);
  top: 0px;
  z-index: 1;
  padding: 10px 0;
}

.add-playlist-content .menu-list {
  padding: 0;
}

.add-playlist-content .menu-list .search-box {
  padding: 0 15px;
  background-color: transparent;
}

.add-playlist-content .menu-list .search-box .input {
  height: 35px;
  font-size: 14px;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
  border-radius: 999px;
  padding: 0 15px;
}

.menu-list li .zm-btn .icon.ic-go-right {
  margin-left: auto;
}

.menu-list li:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.submenu-content {
  visibility: hidden;
}

.menu-list li:hover .submenu-content {
  visibility: visible;
}

.song-menu {
  top: -120px;
  width: 280px;
  right: 50px;
  z-index: 2;
  position: absolute;
}

.media.song-info-menu {
  padding: 15px 15px 0;
}
.media.song-info-menu .media-left {
  margin-right: 10px;
}
.media.song-info-menu .media-left .image {
  border-radius: 4px;
  overflow: hidden;
}
.is-w-150 {
  width: 150px;
}
.media.song-info-menu .media-content .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.title-wrapper .title {
  line-height: 1.3;
  text-transform: none;
}
img,
video {
  height: auto;
  width: 100%;
}
.group-button-menu {
  margin: 15px 0 10px;
  padding: 0 15px;
}
.group-button-menu .group-button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  line-height: 1.5;
}
.group-button-menu .group-button-list .zm-btn {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 10px;
  max-width: 80px;
  line-height: 14px;
}
.group-button-menu .group-button-list .zm-btn .icon {
  font-size: 16px;
  margin-bottom: 4px;
}
.ic-16-Lyric:before {
  content: "\ea07";
}
.ic-denial:before {
  content: "\74";
}
.ic-play-next:before {
  content: "\52";
}
.ic-view:before {
  content: "\e007";
}
.media.song-info-menu .song-stats .stat-item .icon {
  font-size: 14px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.media.song-info-menu .song-stats .stat-item {
  margin-right: 10px;
}
.media.song-info-menu .song-stats {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #a0a0a0;
}

.ic-comment:before {
  content: "\71";
}

.ic-download:before {
  content: "\67";
}

.ic-link:before {
  content: "\48";
}

.ic-share:before {
  content: "\2c";
}

.show-all {
    visibility: hidden;
}

.container:hover .show-all {
    visibility: visible;
}

