<section class="scrollable padder-lg w-f-md" id="bjax-target">
    <div class="mar-b-15 pad-t-20">
        <a class="" href="/hub/VIP/IWZ9Z0BB.html">
           <div class="hero is-medium">
              <div class="hero-body">
                 <figure class="image banner-image is-48x48"><img style="height: 400px" src="../../../../assets/images/genre-banner.jpg" alt=""></figure>
              </div>
           </div>
        </a>
     </div>
    <div class="container">
    <span style="clear: both;">
    <h3 style="float: left" class="zm-section-title title is-2 ">
        Remix
    </h3>
    <a routerLink="/genre-detail" class="show-all" style="float: right; color: hsla(0,0%,100%,0.5)">XEM TẤT CẢ <i class="icon ic-go-right"></i></a>      
    </span>
    <div class="zm-carousel-wrapper ">
      <div class="zm-carousel ">
        <div class="zm-carousel__container " style="transform: translate3d(0px, 0px, 0px);">
          <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
            <div class="zm-card zm-card--artist">
              <div class="zm-card-image ">
                <div class="zm-actions-container ">
                  <div class="zm-box zm-actions playlist-actions ">
                    <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                      <i class="icon ic-like">
                      </i>
                      <!-- <i class="icon ic-like-full">
                            </i> -->
                    </button>
                    <button class="zm-btn button " tabindex="0">
                      <i class="icon action-play ic-play">
                      </i>
                    </button>
                    <button class="zm-btn zm-tooltip-btn is-hover-circle button "
                      tabindex="0">
                      <i class="icon ic-more">
                      </i>
                    </button>

                  </div>
                </div>
                <figure class="image is-48x48">
                  <img
                    src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/e/d/5/9/ed59c22962c393fc8bebd459597505da.jpg"
                    alt="" class="">
                </figure>
              </div>
              <div style="text-align: left !important;" class="zm-card-content">
                <div class="title">
                  <a class="is-ghost" style="text-align: left !important;" routerLink="/profile">
                    Những bài hát hay
                  </a>
                </div>
                <div class="subtitle">
                  <span class="followers">
                    Thúy Khanh
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button " tabindex="0">
        <i class="icon ic-go-left">
        </i>
      </button>
      <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button " tabindex="0">
        <i class="icon ic-go-right">
        </i>
      </button>
    </div>
  </div>
  <div class="container">
    <span style="clear: both;">
    <h3 style="float: left" class="zm-section-title title is-2 ">
        Trữ tình & Bolero
    </h3>
    <a class="show-all" style="float: right; color: hsla(0,0%,100%,0.5)">XEM TẤT CẢ <i class="icon ic-go-right"></i></a>      
    </span>
    <div class="zm-carousel-wrapper ">
      <div class="zm-carousel ">
        <div class="zm-carousel__container " style="transform: translate3d(0px, 0px, 0px);">
          <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
            <div class="zm-card zm-card--artist">
              <div class="zm-card-image ">
                <div class="zm-actions-container ">
                  <div class="zm-box zm-actions playlist-actions ">
                    <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                      <i class="icon ic-like">
                      </i>
                      <!-- <i class="icon ic-like-full">
                            </i> -->
                    </button>
                    <button class="zm-btn button " tabindex="0">
                      <i class="icon action-play ic-play">
                      </i>
                    </button>
                    <button class="zm-btn zm-tooltip-btn is-hover-circle button "
                      tabindex="0">
                      <i class="icon ic-more">
                      </i>
                    </button>

                  </div>
                </div>
                <figure class="image is-48x48">
                  <img
                    src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/e/d/5/9/ed59c22962c393fc8bebd459597505da.jpg"
                    alt="" class="">
                </figure>
              </div>
              <div style="text-align: left !important;" class="zm-card-content">
                <div class="title">
                  <a class="is-ghost" style="text-align: left !important;" routerLink="/profile">
                    Những bài hát hay
                  </a>
                </div>
                <div class="subtitle">
                  <span class="followers">
                    Thúy Khanh
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button " tabindex="0">
        <i class="icon ic-go-left">
        </i>
      </button>
      <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button " tabindex="0">
        <i class="icon ic-go-right">
        </i>
      </button>
    </div>
  </div>
  <div style="left: 170px;top: 190px;" *ngIf="" class="zm-contextmenu playlist-menu">
    <div class="menu">
      <ul class="menu-list">
        <li><button class="zm-btn button" tabindex="0"><i class="icon ic-add-play-now"></i><span>Thêm vào danh
              sách phát</span></button></li>
        <li><button class="zm-btn button" tabindex="0"><i class="icon ic-comment"></i><span>Bình
              luận</span></button></li>
        <li> <button class="zm-btn button" tabindex="0"><i class="icon ic-download"></i><span>Tải
              xuống</span></button></li>
        <li><button class="zm-btn button" tabindex="0"><i class="icon ic-link"></i><span>Sao chép
              link</span></button></li>
        <li>
          <div class="menu-list--submenu"><button class="zm-btn button" tabindex="0"><i
                class="icon ic-share"></i><span>Chia sẻ</span><i class="icon ic-go-right"></i></button></div>
        </li>
      </ul>
    </div>
  </div>
</section>
