<nav class="nav-primary hidden-xs">
    <ul class="nav bg clearfix">
            <li>
            <a href="index.html">
                <i class="icon-disc icon text-success"> </i>
                <span class="font-bold">
                    Khám phá
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/genre">
                <i class="icon-music-tone-alt icon text-info"> </i>
                <span class="font-bold">
                    Thể loại
                </span>
            </a>
        </li>
        <li>
            <a href="events.html">
                <i class="icon-drawer icon text-primary-lter"> </i>
                <span class="font-bold">
                    Theo dõi
                </span>
            </a>
        </li>
        <li>
            <a href="listen.html">
                <i class="icon-list icon text-info-dker"> </i>
                <span class="font-bold">
                    Bảng xếp hạng
                </span>
            </a>
        </li>
        <li>
            <a href="video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                <i class="icon-social-youtube icon text-primary"> </i>
                <span class="font-bold">
                    Video
                </span>
            </a>
        </li>
        <li class="m-b hidden-nav-xs"></li>
    </ul>
    <!-- <ul class="divider"></ul> -->
    <!-- <ul class="nav bg clearfix">
        <li>
            <a href="index.html">
                <i class="icon-disc icon text-success"> </i>
                <span class="font-bold">
                    What's new
                </span>
            </a>
        </li>
        <li>
            <a href="genres.html">
                <i class="icon-music-tone-alt icon text-info"> </i>
                <span class="font-bold">
                    Genres
                </span>
            </a>
        </li>
        <li>
            <a href="events.html">
                <i class="icon-drawer icon text-primary-lter"> </i>
                <b class="badge bg-primary pull-right">
                    6
                </b>
                <span class="font-bold">
                    Events
                </span>
            </a>
        </li>
        <li>
            <a href="listen.html">
                <i class="icon-list icon text-info-dker"> </i>
                <span class="font-bold">
                    Listen
                </span>
            </a>
        </li>
        <li>
            <a href="video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                <i class="icon-social-youtube icon text-primary"> </i>
                <span class="font-bold">
                    Video
                </span>
            </a>
        </li>
        <li class="m-b hidden-nav-xs"></li>
    </ul> -->
    <!-- <ul class="divider"></ul>
    <ul class="nav bg text-sm">
        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
            <span class="pull-right">
                <a href="#">
                    <i class="icon-plus i-lg"> </i>
                </a>
            </span>
            <span class="font-bold">
                Thư viện
            </span>
        </li>
        <li>
            <a href="#">
                <i class="icon-music-tone icon"> </i>
                <span class="font-bold">
                    Bài hát
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-playlist icon text-success-lter"> </i>
                <b class="badge bg-success dker pull-right">
                    9
                </b>
                <span class="font-bold">
                    Playlist
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-playlist icon text-success-lter"> </i>
              
                <span class="font-bold">
                    Gần đây
                </span>
            </a>
        </li>
    </ul> -->
</nav>
