<footer class="footer bg-dark snipcss-GJjjK">
    <div id="jp_container_N" class="jp-video-270p">
        <div class="jp-type-playlist">
            <div id="jplayer_N" class="jp-jplayer hide" style="width: 480px; height: 270px;">
                <img id="jp_poster_0" style="width: 480px; height: 270px; display: inline;" src="http://flatfull.com/themes/musik/images/m0.jpg" />
                <audio id="jp_audio_0" preload="metadata" src="" title="Bubble"></audio>
                <video id="jp_video_0" preload="metadata" title="Bubble" style="width: 0px; height: 0px;"></video>
            </div>
            
            <div class="jp-gui">
                
                <div class="jp-video-play hide" style="display: block;">
                    <a class="jp-video-play-icon">
                        play
                    </a>
                </div>
                <div class="jp-interface">
                    <div class="jp-controls">
                        <div class="media snipcss-iSWpl" style="padding-right: 50px;">
                            <div class="media-left">
                                <a class="" href="/album/Nhung-Bai-Hat-Nhac-Hoa-Gay-Nghien-Tieu-Lam-Boi-Tam-Yihuik-Trinh-Huong-Tieu-Dien-Am-Nhac-Xa/ZUOOZ00D.html">
                                    <div class="thumbnail-wrapper">
                                        <div class="thumbnail">
                                            <figure class="image is-50x50 is-rounded">
                                                <img src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/cover/d/3/3/6/d336d6c8d9cfc17c94f0132154175ed7.jpg" alt="" />
                                               
                                            </figure>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- <div class="media-content">
                                <div class="is-mark level-left">
                                    <div class="song-info-wrapper" style="transform: translateX(-271px); transition: transform 6.775s linear 0s;">
                                        <span class="song-title-item">
                                            <a class="" href="/album/Nhung-Bai-Hat-Nhac-Hoa-Gay-Nghien-Tieu-Lam-Boi-Tam-Yihuik-Trinh-Huong-Tieu-Dien-Am-Nhac-Xa/ZUOOZ00D.html">
                                                <div class="title-wrapper">
                                                    <span class="item-title has-icon title">
                                                        Công Tử Đừng Đợi Nữa (公子别等了)
                                                        <i class="icon ic-global" title="Tải lên bởi Kim Tuyền"> </i>
                                                    </span>
                                                </div>
                                            </a>
                                        </span>
                                        <span class="song-title-item">
                                            <a class="" href="/album/Nhung-Bai-Hat-Nhac-Hoa-Gay-Nghien-Tieu-Lam-Boi-Tam-Yihuik-Trinh-Huong-Tieu-Dien-Am-Nhac-Xa/ZUOOZ00D.html">
                                                <div class="title-wrapper">
                                                    <span class="item-title has-icon title">
                                                        Công Tử Đừng Đợi Nữa (公子别等了)
                                                        <i class="icon ic-global" title="Tải lên bởi Kim Tuyền"> </i>
                                                    </span>
                                                </div>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <h3 class="is-one-line is-truncate subtitle">
                                    <span class="artist-names">
                                        <span>
                                            Châu
                                        </span>
                                        <span>
                                            Lâm
                                        </span>
                                        <span>
                                            Phong
                                        </span>
                                    </span>
                                </h3>
                            </div>
                            <div class="media-right">
                                <div class="level">
                                    <div class="level-item">
                                        <button class="zm-btn zm-tooltip-btn animation-like zm-disable-transition active is-hover-circle button" tabindex="0">
                                            <i class="icon ic-like"> </i>
                                            <i class="icon ic-like-full"> </i>
                                        </button>
                                    </div>
                                    <div class="level-item">
                                        <span id="np_menu">
                                            <button class="zm-btn zm-tooltip-btn btn-more is-hover-circle button" tabindex="0">
                                                <i class="icon ic-more"> </i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div style="padding-right: 100px">
                            <h3 style="white-space: nowrap;">Giấc mơ chỉ là giấc mơ<br><span style="font-size: 13px;">Hà Anh Tuấn</span></h3>
                        </div>
                        <div >
                            <a class="jp-previous">
                                <i class="icon-control-rewind i-lg"> </i>
                            </a>
                        </div>
                        <div>
                            <a class="jp-play">
                                <i class="icon-control-play i-2x"> </i>
                            </a>
                            <a class="jp-pause hid" style="display: none;">
                                <i class="icon-control-pause i-2x"> </i>
                            </a>
                        </div>
                        <div>
                            <a class="jp-next">
                                <i class="icon-control-forward i-lg"> </i>
                            </a>
                        </div>
                        <div class="hide">
                            <a class="jp-stop">
                                <i class="fa fa-stop"> </i>
                            </a>
                        </div>
                        <div>
                            <a class="" data-toggle="dropdown" data-target="#playlist">
                                <i class="icon-list"> </i>
                            </a>
                        </div>
                        <div class="jp-progress hidden-xs">
                            <div class="jp-seek-bar dk" style="width: 100%;">
                                <div class="jp-play-bar bg-info" style="width: 0%;"></div>
                                <div class="jp-title text-lt" style="display: none;">
                                    Bubble
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted">
                            00:00
                        </div>
                        <div class="hidden-xs hidden-sm jp-duration text-xs text-muted">
                            00:00
                        </div>
                        <div class="hidden-xs hidden-sm">
                            <a class="jp-mute" title="mute">
                                <i class="icon-volume-2"> </i>
                            </a>
                            <a class="jp-unmute hid" title="unmute" style="display: none;">
                                <i class="icon-volume-off"> </i>
                            </a>
                        </div>
                        <div class="hidden-xs hidden-sm jp-volume">
                            <div class="jp-volume-bar dk">
                                <div class="jp-volume-bar-value lter" style="width: 80%;"></div>
                            </div>
                        </div>
                        <div>
                            <a class="jp-shuffle" title="shuffle">
                                <i class="icon-shuffle text-muted"> </i>
                            </a>
                            <a class="jp-shuffle-off hid" title="shuffle off" style="display: none;">
                                <i class="icon-shuffle text-lt"> </i>
                            </a>
                        </div>
                        <div>
                            <a class="jp-repeat" title="repeat">
                                <i class="icon-loop text-muted"> </i>
                            </a>
                            <a class="jp-repeat-off hid" title="repeat off" style="display: none;">
                                <i class="icon-loop text-lt"> </i>
                            </a>
                        </div>
                        <div class="hide">
                            <a class="jp-full-screen" title="full screen">
                                <i class="fa fa-expand"> </i>
                            </a>
                            <a class="jp-restore-screen" title="restore screen" style="display: none;">
                                <i class="fa fa-compress text-lt"> </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jp-playlist dropup" id="playlist">
                <ul class="dropdown-menu aside-xl dker" style="display: block;">
                    <li class="jp-playlist-current">
                        <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">
                                ×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="1">
                                Bubble
                                <span class="jp-artist">
                                    by Miaow
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">
                                ×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item" tabindex="1">
                                Lentement
                                <span class="jp-artist">
                                    by Miaow
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:;" class="jp-playlist-item-remove">
                                ×
                            </a>
                            <a href="javascript:;" class="jp-playlist-item" tabindex="1">
                                Partir
                                <span class="jp-artist">
                                    by Miaow
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="jp-no-solution hide" style="display: none;">
                <span>
                    Update Required
                </span>
                To play the media you will need to either update your browser to a recent version or update your
                <a href="http://get.adobe.com/flashplayer/" target="_blank">
                    Flash plugin
                </a>
                .
            </div>
        </div>
    </div>
</footer>
