<!DOCTYPE html>
<html lang="en" class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie8 no-ie10 no-ie11 no-ios no-ios7 ipad">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Musik | Web Application</title>
        <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <style type="text/css">
            :root #content > #right > .dose > .dosesingle,
            :root #content > #center > .dose > .dosesingle {
                display: none !important;
            }
        </style>
    </head>

    <body class="" cz-shortcut-listen="true">
        <section class="vbox">
            <app-header></app-header>
            <section>
                <section class="hbox stretch">
                    <!-- .aside -->
                    <aside class="bg-black dk aside hidden-print" id="nav" style="width: 15%; height: 100%">
                        <section class="vbox">
                            <section class="w-f-md">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 200px; height: 616px;">
                                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2" style="overflow: hidden; width: auto; height: 616px;">
                                        <!-- nav -->
                                        <app-navbar></app-navbar>
                                        <!-- / nav -->
                                    </div>
                                    <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 10px; position: absolute; top: -44px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 0px; height: 616px;"></div>
                                    <div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;"></div>
                                </div>
                            </section>
                        </section> 
                    </aside>
                    <!-- /.aside -->
                    <section id="content">
                        <section class="hbox stretch" >
                            <section>
                                <section class="vbox">
                                    <!-- Main Content -->
                                    <router-outlet></router-outlet>
                                    <!-- End Main Content -->
                                </section>
                                <app-music-bar></app-music-bar>
                            </section>
                        </section>
                        <a href="http://flatfull.com/themes/musik/index.html#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
                    </section>
                </section>
            </section>
        </section>
    </body>
</html>